
<div class="mainOuter" ng-controller="dataCtrl">
  <ul style="" class="homePage">
    <li class="active">
      <i class="iconfont icon-fengxianyuan"></i>
      风险源状况
    </li>
    <li ui-sref="home.emerStatus1">
      <i class="iconfont icon-yingjiwuzi"></i>
      应急物资状况
    </li>
    <li ui-sref="home.organise">
      <i class="iconfont icon-jigourenyuan"></i>
      机构人员
    </li>
    <li ui-sref="home.dealing">
      <i class="iconfont icon-chuli"></i>
      处置方式状况
    </li>
    <!--<li  ui-sref="home.waterSource">
      <i class="iconfont icon-minganci"></i>
      环境敏感点状况
    </li>-->
  </ul>
    <div class="leftOuter homeLeftOuter" ng-class="{true:'scrub'}[scrubEffect]" style="top: 130px;height: calc(100% - 140px);left: 20px">
    <!--<div class="part">
      <div class="title">
        风险源
      </div>
      <div class="content " style="height:calc(100% - 41px); max-width: 350px;">
        <div cgs-echarts="warnBars" options="ccc" style="width:100%;height:100%; "></div>
      </div>
    </div>-->

    <div class="part">
      <div class="title ">
        风险排查
         <span style="position: absolute; right: 15px; font-size: 14px;color: rgba(255,255,255,.7);">{{ time | date: 'yyyy' }}</span>
      </div>
      <div class="content " style="height:calc(100% - 41px); max-width: 350px;">
        <div cgs-echarts="warnBar" options="aaa" style="width:100%;height:100%; "></div>
      </div>
    </div>

    <div class="part ">
      <div class="title ">
        应急预案备案
      </div>
      <div class="content " style="height:calc(100% - 41px) ">
        <section id="container" class="charts" style="width:100%;height:100%; " cgs-echarts options="bbb"></section>
      </div>
    </div>

  </div>

    <!--<div class="leftOuter homeLeftOuter" style="top: 80px;left:calc(100% - 300px) ">
    <div class="part" style="height: 180px">
      <div class="title">
        应急资源
      </div>
      <div class="content " style="height:calc(100% - 41px); max-width: 350px;">
        <div class="content-item">
          <div class="left-item-name" >应急资源库</div><div class="right-num"><span ng-bind="yjzyCount.warehouseSum"></span>个</div>
          <div class="clearfix"></div>
        </div>
        <div class="content-item">
          <div class="left-item-name">应急人员</div><div class="right-num"><span ng-bind="yjzyCount.managercrewSum"></span>人</div>
          <div class="clearfix"></div>
        </div>
        <div class="content-item">
          <div class="left-item-name">应急单位</div><div class="right-num"><span ng-bind="yjzyCount.unitSum"></span>个</div>
          <div class="clearfix"></div>
        </div>
        <div class="content-item">
          <div class="left-item-name">应急案例</div><div class="right-num"><span ng-bind="yjzyCount.emergencyexampleSum"></span>个</div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="part" style="height: 150px">
      <div class="title">
        应急模拟
      </div>
      <div class="content " style="height:calc(100% - 41px); max-width: 350px;">

        <div class="content-item">
          <div class="left-item-name">应急模拟事件</div><div class="right-num"><span ng-bind="yjmnCount[3].count"></span>件</div>
          <div class="clearfix"></div>
        </div>
        <div class="content-item">
          <div class="left-item-name">三维建模</div><div class="right-num"><span ng-bind="yjmnCount[1].count"></span>家</div>
          <div class="clearfix"></div>
        </div>
        <div class="content-item">
          <div class="left-item-name">无人机航拍</div><div class="right-num"><span ng-bind="yjmnCount[2].count"></span>家</div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>-->

    <!--<div class="legend ">
    <div>
      <div>
        <div><img src="images/major1.png " /></div>重大风险源</div>
      <div>
        <div><img src="images/large1.png " /></div>较大风险源</div>
      <div>
        <div><i class="iconfont icon-dot"></i></div>一般风险源</div>
      <div>
        <div><img src="images/area.png " /></div>重点风险区域</div>
    </div>
    <div>
      <div><i class="icon-square water "></i>饮用水源地</div>
      <div><i class="icon-square natural "></i>自然保护区</div>
    </div>
    <div>
      <div>
        <div><img src="images/storehouse.png " width="15 " /></div>应急物资库</div>
    </div>
    </div>-->
    <div class="prePage">
      <div class="prePageBtn" ui-sref="home.dataType2">
        <i class="iconfont icon-next-page-copy"></i>
      </div>
    </div>
</div>
