<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width,viewport-fit=cover">
		<title>罐信息</title>
		<link rel="manifest" href="manifest.json">
		<link rel="stylesheet" href="css/ionic.app.min.css">
		<!--<script src="www/lib/angular/angular.min.js"></script>-->
		<script src="js/angular.min.js"></script>
	</head>
	<style>
		html {
			/*font-size: 75px;*/
		}
		
		header {
			font-size: 0.66rem;
		}
		
		body {
			background: #212429;
			/*color: #ffcc01;*/
			color: #ffffff;
			font-size: 0.4rem;
			padding: 15px;
		}
		
		h1 {
			font-size: 0.6rem;
			text-align: left;
			color: #ffcc01;
		}
		
		h2 {
			font-size: 0.44rem;
			text-align: left;
			color: lightgrey;
			opacity: 1;
			padding-bottom: 6px;
			border-bottom: 1px solid #ffffff;
		}
		
		h3 {
			font-size: 0.36rem;
			color: #ffcc01;
			text-align: center;
		}
		
		ul {
			padding: 0px;
		}
		
		li {
			list-style: none;
			margin-top: 10px;
		}
		
		.grey {
			color: lightgrey;
		}
		
		.noData {
			color: red;
			text-align: center;
		}
		
		table {
			width: 100%;
			border-collapse: collapse;
		}
		
		table td,
		table th {
			border: 1px solid #ffffff;
			text-align: center;
			font-size: 0.3rem;
		}
		
		thead th {
			color: lightgrey;
		}
		
		.intro {
			margin-top: 30px;
			border: 1px solid #ffffff;
			padding: 0.5rem;
			border-radius: 0.1rem;
		}
		
		.intro div {
			margin-bottom: 0.1rem;
		}
	</style>

	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			<header>{{mydata['DangerUnit'][0]['COMPANYNAME']}}&nbsp;—&nbsp;{{mydata["DangerUnit"][0]["NAME"]}}</header>
			<div class="c intro">
				<div ng-repeat="(key,val) in mydata['DangerUnit'][0]['CSL']">{{key}}：{{val}}</div>
			</div>
			<div class="c  lhtx">
				<h1>理化特性</h1>
				<h2>{{page.goodName}}</h2>
				<ul>
					<li ng-repeat="item in page.lhtxName  track by $index">
						<span class="grey">{{item}}</span> {{page.lhtx[$index]}}
					</li>

				</ul>
			</div>
			<div class="c">
				<!--对周边环境影响-->
				<h1>潜在环境污染事故以及环境突发事件危险性分析</h1>
				<h2>{{page.yx[0]}}</h2>
				<ul>
					<li>
						{{page.yx[1]}}
					</li>
				</ul>
			</div>
			<div class="c">
				<h1>应急保障</h1>
				<h2>
				通信与信息保障
			</h2>
				<p>
					<span>{{page.yjbz[0]}}</span>
				</p>
				<ul>
					<li ng-repeat="item in page.yjbz[1]  track by $index"><span class="grey">{{item[0]}}：</span><span>{{item[1]}}</span></li>
				</ul>
				<h2>应急、人员物资保障</h2>
				<h3>主要人员构成表</h3>
				<table>
					<thead>
						<tr>
							<th width="100">序号</th>
							<th width="200">应急机构</th>
							<th width="100">职务</th>
							<th width="200">组成人员</th>
							<th width="150">职责</th>
							<th width="100">电话</th>
						</tr>
					</thead>
					<tbody ng-repeat="item in page.rylb  track by $index">
						<tr>
							<td rowspan="{{item.length+1}}">{{$index+1}}</td>
							<td rowspan="{{item.length+1}}">{{item[0]['department']}}</td>
						</tr>
						<tr ng-repeat="p in item">
							<td>{{p['companyAgency']}}</td>
							<td>{{p['name']}}</td>
							<td>{{p['companyAgency']}}</td>
							<td>{{p['telephone']}}</td>
						</tr>

					</tbody>
				</table>
				<h3>应急物资一览表</h3>
				<table>
					<thead>
						<th>序号</th>
						<th>名称</th>
						<th>用途</th>
						<th>数量</th>
						<th>存放位置</th>
						<th>保管人</th>
						<th>电话</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in mydata['substanceList'] track  by $index">
							<td>{{$index+1}}</td>
							<td>{{item.name}}</td>
							<td>{{item.function}}</td>
							<td>{{item.numberUtil}}</td>
							<td>{{item.address}}</td>
							<td>{{item.manager}}</td>
							<td>{{item.managerTelephone}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="c">
				<h1>
				专项应急处置方案
			</h1>
				<h2>
				<div ng-repeat="item in page.czfa[0]  track by $index">
						{{item}}	
					</div>
			</h2>
				<p>
					<div ng-repeat="item in page.czfa[1]  track by $index">
						{{item}}
					</div>

				</p>
			</div>
			<div class="c">
				<h1>隔离与公共安全</h1>
				<p ng-html="page.test">

				</p>
			</div>
			<div class="c">
				<h1>应急监管</h1>
				<p class="noData">
					暂无数据
				</p>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		function w() {
			console.log("change html fontSize");
			var dom = document;
			var r = dom.documentElement;
			var a = r.getBoundingClientRect().width;
			if(a > 750) {
				a = 750;
			}
			var rem = a * 75 / 750;
			r.style.fontSize = rem + 'px';
		}
		w();
	</script>
	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $q, $timeout, $http) {
			var id = location.search.split('&')[0].split("=")[1];
			$scope.mydata = {};
			$scope.page = {
				test: "<span>1<br/>2</span>",
				goodName: "",
				lhtx: [],
				lhtxName: [],
				yx: [],
				yjbz: [],
				czfa: [],
				rylb: []
			}
			$scope.getData = function() {
				//				$http.get("http://172.18.22.177:8891/test/app/getDangerUnitInfo", {
				$http.get("/1/app/getDangerUnitInfo", {
					//				$http.get("http://103.3.152.152:8888/1/app/getDangerUnitInfo", {
					params: {
						id: id
					}
				}).then(function(data) {
					console.log(data);
					$scope.mydata = data.data;
					//					$scope.mydata['DangerUnit'][0]['CSL'] = ;
					console.log($scope.mydata['DangerUnit'][0]['CSL']);
					var tempCSL = $scope.mydata['DangerUnit'][0]['CSL'].split(',');
					var tempStr = '';
					for(var i = 0; i < tempCSL.length; i++) {
						if(i != (tempCSL.length - 1)) {
							tempStr = tempStr + '"' + tempCSL[i].split(":")[0] + '"' + ':' + '"' + tempCSL[i].split(":")[1] + '"' + ','
						} else {
							tempStr = tempStr + '"' + tempCSL[i].split(":")[0] + '"' + ':' + '"' + tempCSL[i].split(":")[1] + '"'
						}
					}
					tempStr = '{' + tempStr + '}';

					$scope.mydata['DangerUnit'][0]['CSL'] = JSON.parse(tempStr);
					console.log($scope.mydata['DangerUnit'][0]['CSL']);

					var lhtx = $scope.mydata['DangerUnit'][0]['LHTX'].split("：");
					$scope.page.goodName = lhtx[0].split("\n")[0];
					var lhtxc = [];
					var lhtxName = [];
					lhtxName[0] = "理化性质";
					for(var i = 1; i < lhtx.length; i++) {
						lhtxc.push(lhtx[i].split("\n")[0]);
						lhtxName.push(lhtx[i].split("\n")[1]);
					}
					var lhtxIndex = 0;
					$scope.page.lhtxName = [];
					$scope.page.lhtxName[0] = "理化性质";
					for(var i = 0; i < lhtxName.length; i++) {
						if(i != 0 && lhtxName[i] != undefined) {
							$scope.page.lhtxName.push(lhtxName[i])
							lhtxIndex++;
							$scope.page.lhtx[lhtxIndex] = "";
						}
						$scope.page.lhtx[lhtxIndex] = ($scope.page.lhtx[lhtxIndex] != undefined ? $scope.page.lhtx[lhtxIndex] : '') + (lhtxc[i] != undefined ? lhtxc[i] : '');
					}
					console.log($scope.page.lhtx);
					console.log($scope.page.lhtxName);

					var yx = $scope.mydata['DangerUnit'][0]['YINGXIANG'] != null ? $scope.mydata['DangerUnit'][0]['YINGXIANG'].split("\n")[0] : "";
					$scope.page.yx[0] = yx;
					$scope.page.yx[1] = $scope.mydata['DangerUnit'][0]['YINGXIANG'] != null ? $scope.mydata['DangerUnit'][0]['YINGXIANG'].split(yx)[1] : "";
					var yjbz = $scope.mydata['DangerUnit'][0]['YJBZ'];
					$scope.page.yjbz[0] = yjbz.split("。")[0];
					$scope.page.yjbz[1] = [];
					temp = yjbz.split("。")[1].split("\n");
					for(var i = 0; i < temp.length; i++) {
						if(temp[i] != 0) {
							$scope.page.yjbz[1].push([temp[i].split("：")[0], temp[i].split("：")[1]]);
						}
					}
					var czfa = $scope.mydata['DangerUnit'][0]['CZFA'];
					$scope.page.czfa[0] = czfa != null ? czfa.split('\n')[0] : "";

					$scope.page.czfa[1] = czfa != null ? czfa.split($scope.page.czfa[0])[1] : '';
					$scope.page.czfa[1] = $scope.page.czfa[1].split("\n");
					$scope.page.czfa[0] = $scope.page.czfa[0].split("\n");
					var rylb = $scope.mydata['crewList'];
					var index = 0;
					$scope.page.rylb[0] = [];
					for(var i = 0; i < rylb.length; i++) {
						if(i > 0 && (rylb[i]['department'] != rylb[i - 1]['department'])) {
							index++;
							$scope.page.rylb[index] = [];
						}
						$scope.page.rylb[index].push(rylb[i]);
					}
					console.log($scope.page.rylb);
				})
			}
			$timeout(function() {
				$scope.getData();
			})
		});
	</script>

</html>