<div class="resouceRelation" ng-controller="resouceRelation">
     <div class="menuTab">
        <div ng-style="{width:(270/filterlist.length)+'px'}" ng-repeat="tab in tabSet.list | filter:{show:true} as filterlist" ng-click="tabSet.tabClick(tab.id)" ng-class="{true:'active'}[tab.id==tabSet.tabId]" ng-bind="tab.label"></div>
    </div>
    <div class="menuBody">
        <div class="part rivers" ng-show="tabSet.tabId=='1'">
            <div cgs-slim options="{'height':'420px','size':'5px'}">
               <div class="part-item" ng-class="{true:'hover'}[!river.chidren.length]" ng-repeat="river in resource.rivers">
                   <span class="_label" ng-class="{true:'active'}[river.checked]" ng-bind="river.name" ng-mouseleave="riverOut(river)" ng-mouseover="riverHover(river)" ng-click="resource.riverClick(river)"></span>
                   <div class="_children" ng-show="river.children.length && river.checked"> </div>
               </div>
            </div>
        </div>
    </div>
    <div class="legend ">
        <div>
            <div><div><img src="images/major1.png "></div>重大风险源</div>
            <div><div><img src="images/large1.png "></div>较大风险源</div>
            <div><div><i class="icon-dot "></i></div>一般风险源</div>
            <div><div><span class="legend-line"></span></div>河流</div>
        </div>
    </div>

    <div class="calcOuter" ng-if="!resource.riverCreated">
        <img src="images/loading.gif" />
        <span>&nbsp;河流图层加载中...</span>
    </div>

    <!-- 一览表 -->
    <div class="riskSourcePop" ng-show="risk.sourceInfo.overview" style="width:calc(100% - 700px);min-width: 1000px;left: 350px;">
        <div class="head">
            <span ng-bind="riskDetail.COMPANYNAME"></span>
            <i class="iconfont icon-guanbi" title="关闭" ng-click="closePrint()"></i>
            <a style="float: right;margin-right: 30px;" title="submit" class="searchBtn" ng-href="riskSource/downWord?companyId={{linkCompanyId}}">
               <i class="iconfont iccon-daochu"></i> 导出word
            </a>
            <a style="float: right;margin-right: 10px;" title="submit" class="searchBtn" ng-href="yjInfosImport/exportExcel?companyId={{linkCompanyId}}">
                <i class="iconfont iccon-daochu"></i> 导出EXCEL
            </a>
        </div>
        <!-- 一览表-->
        <div style="height: calc(100% - 40px)" ng-include="'partials/pop/yilanbiao.html'"></div>
    </div>
</div>