<div ng-controller="riskCheckCtrl" class="riskCheck">
	<div class="checkInner" ng-show="!warningSelect">
		<div class="checkTabs">
			<div ng-class="{0:'active'}[riskCheck.tabActive]" ng-click="toggleTab(0)">
				<i class="iconfont icon-renwuyujing"></i>
				<span>任务预警</span>
			</div>
			<div ng-class="{1:'active'}[riskCheck.tabActive]" ng-click="toggleTab(1)">
				<i class="iconfont icon-renwupaifa"></i>
				<span>任务派发</span>
			</div>
			<div ng-class="{2:'active'}[riskCheck.tabActive]" ng-click="toggleTab(2)">
				<i class="iconfont icon-renwutaizhang"></i>
				<span>任务台账</span>
			</div>
		</div>
		<div class="checkTabContent">
			<div ng-show="riskCheck.tabActive==0" style="padding:15px 10px;">
				<div  style="width:100%;height:100%;" cgs-slim options="{'height':'100%','size':'0px'}">
				    <div class="taskTitleLine" style="width:100%;">
				        <img src="images/xz577.png"><span class="taskTypeTitle">已超时</span><span class="taskTypeTitle2">（7天以上）</span>
				        <div>
				            <span class="notask" ng-if="!(taskWarnings.outsevenday && taskWarnings.outsevenday.length)">暂无此类任务！</span>
				            <div ng-if="taskWarnings.outsevenday && taskWarnings.outsevenday.length" ng-repeat="ositem in taskWarnings.outsevenday">
				                <i class="iconfont icon-renwumingcheng"></i>
						        <span>任务名称：</span>
						        <span style="color:#fff;font-size:15px;">{{ositem.TASKNAME}}</span><br/>
						        <i class="iconfont icon-kaishishijian"></i>
						        <span>任务时间：</span>
						        <span style="margin-right:35px;">{{ositem.STARTTIME}}</span>
						        <i class="iconfont icon-kaishishijian"></i>
						        <span>任务期限：</span>
						        <span style="margin-right:55px;">{{ositem.ENDTIME}}</span>
						        <span style="color:#ffcc01;">{{ositem.TIMEOUT}}</span>
						        <div>
						            <i class="iconfont icon-duanxincuiban" style="font-size: 13px;"></i>
						            <span>短信催办</span>
						        </div>
						        <div style="right:150px;" ng-click="getTaskWarningDetail(ositem)">
						            <i class="iconfont icon-chakanxiangqing"></i>
						            <span>查看详情</span>
						        </div>
				            </div>
				        </div>
				    </div>
				    <div class="taskTitleLine" style="width:100%;">
				        <img src="images/xz577kb.png"><span class="taskTypeTitle">已超时</span><span class="taskTypeTitle2">（7天以内）</span>
				        <div>
				            <span class="notask" ng-if="!(taskWarnings.insevenday && taskWarnings.insevenday.length)">暂无此类任务！</span>
				            <div ng-if="taskWarnings.insevenday && taskWarnings.insevenday.length" ng-repeat="ositem in taskWarnings.insevenday">
				                <i class="iconfont icon-renwumingcheng"></i>
						        <span>任务名称：</span>
						        <span style="color:#fff;font-size:15px;">{{ositem.TASKNAME}}</span><br/>
						        <i class="iconfont icon-kaishishijian"></i>
						        <span>任务时间：</span>
						        <span style="margin-right:35px;">{{ositem.STARTTIME}}</span>
						        <i class="iconfont icon-kaishishijian"></i>
						        <span>任务期限：</span>
						        <span style="margin-right:55px;">{{ositem.ENDTIME}}</span>
						        <span style="color:#ffcc01;">{{ositem.TIMEOUT}}</span>
						        <div>
						            <i class="iconfont icon-duanxincuiban" style="font-size: 13px;"></i>
						            <span>短信催办</span>
						        </div>
						        <div style="right:150px;" ng-click="getTaskWarningDetail(ositem)">
						            <i class="iconfont icon-chakanxiangqing"></i>
						            <span>查看详情</span>
						        </div>
				            </div>
				        </div>
				    </div>
				    <div class="taskTitleLine" style="width:100%;">
				        <img src="images/xz577kb2.png"><span class="taskTypeTitle">即将到期</span><span class="taskTypeTitle2">（剩余30天内）</span>
				        <div>
				            <span class="notask" ng-if="!(taskWarnings.inthirtyday && taskWarnings.inthirtyday.length)">暂无此类任务！</span>
				            <div ng-if="taskWarnings.inthirtyday && taskWarnings.inthirtyday.length" ng-repeat="ositem in taskWarnings.inthirtyday">
				                <i class="iconfont icon-renwumingcheng"></i>
						        <span>任务名称：</span>
						        <span style="color:#fff;font-size:15px;">{{ositem.TASKNAME}}</span><br/>
						        <i class="iconfont icon-kaishishijian"></i>
						        <span>任务时间：</span>
						        <span style="margin-right:35px;">{{ositem.STARTTIME}}</span>
						        <i class="iconfont icon-kaishishijian"></i>
						        <span>任务期限：</span>
						        <span style="margin-right:55px;">{{ositem.ENDTIME}}</span>
						        <div>
						            <i class="iconfont icon-duanxincuiban" style="font-size: 13px;"></i>
						            <span>短信催办</span>
						        </div>
						        <div style="right:150px;" ng-click="getTaskWarningDetail(ositem)">
						            <i class="iconfont icon-chakanxiangqing"></i>
						            <span>查看详情</span>
						        </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<div ng-show="riskCheck.tabActive==1" id="filebox" ondragover="event.preventDefault();">
				<div class="formTr">
					<label>
						<i class="iconfont icon-renwumingcheng"></i>
						<span>任务名称：</span>
					</label>
					<input type="text" placeholder="请输入任务名称" ng-model="taskDispatch.name" />
				</div>
				<div class="formTr">
					<label>
						<i class="iconfont icon-kaishishijian"></i>
						<span>任务期限：</span>
					</label>
					<input type="date" placeholder="请输入任务期限" date-fmt="yyyy-MM-dd" ng-model="taskDispatch.deadline" />
				</div>
				<div class="formTr">
					<label>
						<i class="iconfont icon-renwumiaoshu"></i>
						<span>任务描述：</span>
					</label>
					<input type="text" placeholder="请输入任务描述" ng-model="taskDispatch.desc" />
				</div>
				<div class="formTr" style="margin-top: 5px;">
					<button type="button" class="addBtn" ng-click="addUtilOpen()"><i class="iconfont icon-tianjia"></i>&nbsp;任务指派</button>
				</div>
				<div class="formTb">
					<table class="wdtable" style="table-layout: fixed;margin-top:10px;">
						<thead>
							<tr>
								<th style="width:15%;">序号</th>
								<th style="width:30%;">管辖单位</th>
								<th style="width:20%;">联系人</th>
								<th style="width:20%;">联系电话</th>
								<th style="width:15%;">操作</th>
							</tr>
						</thead>
					</table>
					<div cgs-slim options="{width:'100%',height:'calc(100% - 50px)',size:'5px',color:'#C8C8C8'}">
					<table class="wdtable">
						<tbody>
							<tr ng-repeat="util in utilCheckedList">
								<td style="width:15%;">{{$index+1}}</td>
								<td style="width:30%;">{{util.name}}</td>
								<td style="width:20%;">{{util.contact}}</td>
								<td style="width:20%;">{{util.telephone}}</td>
								<td style="width:15%;"><span class="deleteUtilIcon" ng-click="deleteUtil($index)"><i class="iconfont icon-shanchu"></i> 删除</span></td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				<div class="formFile" style="position:relative;">
					<div style="margin-bottom:5px;">
						<i class="iconfont icon-fujian"></i>
						<span>附件：</span>
						<span style="color:#ffcc01;border-right: 1px solid #fff;padding-right: 20px;margin-right: 8px;">添加指定排查表 </span>
						<span style="font-size:13px;color:#bdbdbd;margin-right: 8px;"> 超大附件 </span>
						<span style="font-size:12px;color:#bdbdbd;"> 可以把文件直接拖入窗口添加附件</span>
					</div>
					<input id="file" style="width: 100%;opacity: 0;-ms-filter: 'alpha(opacity=0)';position:absolute;top: 0px;" name="file" type="file" multiple />
					<!-- <form action="/file-upload" class="dropzone">
					  <div class="fallback" style="border: 1px solid #ffcc01;border-style: dashed;">
					    <input id="file" style="width: 100%;opacity: 1;-ms-filter: 'alpha(opacity=1)';" name="file" type="file" multiple />
					  </div>
					</form> -->
					<div style="width:100%;">
					    <div style="width:100%;" ng-repeat="file in fileList">
					         <span>{{file.name}}【{{file.size/1024}}KB】</span><i class="iconfont icon-guanbi" style="color: #ffcc01;font-size:12px;cursor:pointer;" ng-click="fileList.splice($index,1)"></i>
					    </div>
					</div>
				</div>
				<div class="formBtns">
					<button type="button" ng-click="upUtils()"><i class="iconfont icon-renwupaifa"></i>&nbsp;发布</button>
					<button type="button" ng-click="restartUtil()"><i class="iconfont icon-zhongzhi"></i>&nbsp;重置</button>
				</div>
			</div>
			<div ng-show="riskCheck.tabActive==2">
				<div class="tbInputTr">
					<input type="text" placeholder="请输入名称" ng-model="taskDispatch.name" />
					<button type="button" class="searchBtn" ng-click="getTaskParameter()"><i class="iconfont icon-sousuo"></i>&nbsp;搜索</button>
				</div>
				<div class="bookTb">
					<div class="bookThead">
						<div class="indexNum">序号</div>
						<div class="bookTaskNm">任务名称</div>
					</div>
					<div cgs-slim options="{width:'100%',height:'calc(100% - 50px)',size:'5px',color:'#C8C8C8'}">
						<div ng-repeat="item in taskParameters">
							<div class="bookName" ng-click="item.open=!item.open;getTaskParameterParts(item);" ng-class="{'active':item.open}">
								<div class="indexNum">{{$index+1}}</div>
								<div class="bookTaskNm">{{item.TASKNAME}}</div>
							</div>
							<div ng-if="item.open">
								<table class="wptable">
									<thead>
										<tr>
											<th>管辖单位</th>
											<th>联系人</th>
											<th>联系电话</th>
											<th>完成状态</th>
											<th>风险排查表格</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="part in item.parts">
											<td>{{part.NAME}}</td>
											<td>{{part.CONTACT}}</td>
											<td>{{part.TELEPHONE}}</td>
											<td><i class="statePoint" ng-class="{true:'statePointOK'}[part.STATUS=='已完成']"></i>{{part.STATUS}}</td>
											<td>
											    <span ng-if="part.STATUS=='已完成'"ng-repeat="filename in part.FILENAMES" style="margin-right:20px;" ng-click="downloadFile(filename)"><i class="iconfont icon-fujian1"></i> {{filename}}</span>
											    <span ng-if="part.STATUS!='已完成'"><i class="iconfont icon-duanxincuiban" style="font-size: 13px;"></i> 短信催办</span>
											</td>
										</tr>
										<tr ng-if="item.parts.length==0">
											<td colspan="5" class="nodata">无数据</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="checkInner" ng-show="!!warningSelect" style="padding:10px 20px;position:relative;">
	    <div class="backbtn" ng-click="warningSelect=null;">
	        <i class="iconfont icon-fanhui"></i>
			<span>返回</span>
	    </div>
	    <div class="formWD">
			<i class="iconfont icon-renwumingcheng"></i>
			<span>任务名称：</span>
			<span style="color:#fff;font-size:15px;">{{warningSelect.TASKNAME}}</span>
		</div>
		<div class="formWD">
			<i class="iconfont icon-kaishishijian"></i>
			<span>任务期限：</span>
			<span style="color:#fff;font-size:15px;">{{warningSelect.ENDTIME}}</span>
		</div>
		<div class="formWD" style="margin-bottom:20px;">
			<i class="iconfont icon-renwumiaoshu"></i>
			<span>任务描述：</span>
			<span style="color:#fff;font-size:15px;">{{warningSelect.TASKDETAILS}}</span>
		</div>
		<table class="wdtable">
			<thead>
				<tr>
					<th>序号</th>
					<th>管辖单位</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>完成状态</th>
					<th>风险排查表格</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="detail in warningSelect.detail">
					<td>{{$index+1}}</td>
					<td>{{detail.NAME}}</td>
					<td>{{detail.CONTACT}}</td>
					<td>{{detail.TELEPHONE}}</td>
					<td><i class="statePoint" ng-class="{true:'statePointOK'}[detail.STATUS=='已完成']"></i>{{detail.STATUS}}</td>
					<td>
					    <span ng-if="detail.STATUS=='已完成'"ng-repeat="filename in detail.FILENAMES" style="margin-right:20px;" ng-click="downloadFile(filename)"><i class="iconfont icon-fujian1"></i> {{filename}}</span>
					    <span ng-if="detail.STATUS!='已完成'"><i class="iconfont icon-duanxincuiban" style="font-size: 13px;"></i> 短信催办</span>
					</td>
				</tr>
				<tr ng-if="item.parts.length==0">
					<td colspan="5" class="nodata">无数据</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
