<div class="emergencyPlan emergencyDetail" ng-controller="emerPlanCtrl">
	<section class="table-content">
		<div class="clearfix">
			<div class="tb-title">预案详情</div>
			<div class="fr">
				<button class="searchBtn" onclick="history.go(-1)">
					<i class="iconfont icon-fanhui"></i>
					返回
				</button>
			</div>
		</div>
		<div class="item-title">基本信息</div>
		<div class="item-content">
			<ul class="detail">
				<li>
					<span class="check-result3">企业名称：</span><span>{{ emergancy.company.FXY.companyName }}</span>
				</li>
				<li>
					<span class="check-result3">备案状态*：</span>
					<span ng-if="emergancy.company.YAINFOS.recordStatus==''">未备案</span>
					<span ng-if="emergancy.company.YAINFOS.recordStatus==1">已备案</span>
					<span ng-if="emergancy.company.YAINFOS.recordStatus==2">即将到期</span>
					<span ng-if="emergancy.company.YAINFOS.recordStatus==3">备案超期</span>
				</li>
				<li>
					<span class="check-result3">备案编号：</span><span class="check-result5">{{ emergancy.company.FXYS.beiAnNum}}</span>
          			<span class="check-result3">备案单位：</span><span class="check-result5">{{ emergancy.company.FXYS.unit }}</span>
					<span class="check-result3">备案时间：</span><span class="check-result5">{{ emergancy.company.FXYS.time | date:'yyyy-MM-dd' }}</span>
				</li>
				<li>
					<span class="check-result3">风险级别：</span>
					<span ng-if="emergancy.company.FXY.riskGrade=='一般'" class="check-result5">一般风险源</span>
					<span ng-if="emergancy.company.FXY.riskGrade=='较大'" class="check-result5">较大风险源</span>
					<span ng-if="emergancy.company.FXY.riskGrade=='重大'" class="check-result5">重大风险源</span>
					<span class="check-result3">行业代码：</span><span class="check-result5">{{ emergancy.company.FXY.industryCategoryCode }}</span>
					<span class="check-result3">行业名称：</span><span class="check-result5">{{ emergancy.company.FXY.industryCategoryName }}</span>
				</li>
				<li>
					<span class="check-result3">企业地址：</span><span >{{ emergancy.company.FXY.address }}</span>
				</li>
				<li>
					<span class="check-result3">企业中心经度：</span><span class="check-result5">{{ emergancy.company.FXY.longitude}}</span>
					<span class="check-result3">企业中心纬度：</span><span class="check-result5">{{ emergancy.company.FXY.latitude }}</span>
					<span class="check-result3">企业所属流域：</span><span class="check-result5">{{ emergancy.company.FXYS.ssly}}</span>
				</li>
				<li>
					<span class="check-result3">是否涉危险化学品：</span>
					<span ng-if="emergancy.company.FXYS.isWxhxp=='0'" class="check-result5">否</span>
					<span ng-if="emergancy.company.FXYS.isWxhxp=='1'"  class="check-result5" style="color: #FFCC01">是</span>
					<span class="check-result3">是否涉重金属：</span>
					<span ng-if="emergancy.company.FXYS.isZjs=='0'"  class="check-result5">否</span>
					<span ng-if="emergancy.company.FXYS.isZjs=='1'"  class="check-result5" style="color: #FFCC01">是</span>
					<span class="check-result3">是否涉危险废物：</span>
					<span ng-if="emergancy.company.FXYS.isWxfw=='0'"  class="check-result5">否</span>
					<span ng-if="emergancy.company.FXYS.isWxfw=='1'"  class="check-result5" style="color: #FFCC01">是</span>
				</li>
				<li>
					<span class="check-result3">是否涉尾矿库：</span>
					<span ng-if="emergancy.company.FXYS.isWkk=='0'"  class="check-result5">否</span>
					<span ng-if="emergancy.company.FXYS.isWkk=='1'"  class="check-result5" style="color: #FFCC01">是</span>
					<span class="check-result3">是否涉及有毒有害气体：</span>
					<span ng-if="emergancy.company.FXYS.isYdyhqt=='0'"  class="check-result5">否</span>
					<span ng-if="emergancy.company.FXYS.isYdyhqt=='1'"  class="check-result5" style="color: #FFCC01">是</span>
					<span class="check-result3">下游5公里是否有集中式饮用水源：</span>
					<span ng-if="emergancy.company.FXYS.sfwyysy=='0'"  class="check-result5">否</span>
					<span ng-if="emergancy.company.FXYS.sfwyysy=='1'"  class="check-result5" style="color: #FFCC01">是</span>
				</li>
				<li>
					<span class="check-result3">下游10公里是否有集中式饮用水源：</span>
					<span ng-if="emergancy.company.FXYS.sfsyysy=='0'"  class="check-result5">否</span>
					<span ng-if="emergancy.company.FXYS.sfsyysy=='1'"  class="check-result5" style="color: #FFCC01">是</span>
					<span class="check-result3">下游20公里是否有集中式饮用水源：</span>
					<span ng-if="emergancy.company.FXYS.sfeyysy=='0'"  class="check-result5">否</span>
					<span ng-if="emergancy.company.FXYS.sfeyysy=='1'"  class="check-result5" style="color: #FFCC01">是</span>
				</li>
				<li>
					<span class="check-result3">企业环保联系人：</span><span  class="check-result5">{{ emergancy.company.FXY.custodian}}</span>
					<span class="check-result3">企业环保人电话：</span><span  class="check-result5"> {{ emergancy.company.FXY.custodianTelephone }}</span>
				</li>
				<li>
					<span class="check-result3">备注：</span><span>{{ emergancy.company.FXY.bz}}</span>
				</li>
				<li>
					<table class="detailTable">
						<thead>
						<tr>
							<th>主要产品</th>
							<th>产量</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in emergancy.company.FXY.productInfos">
							<td> {{ item.name }} </td>
							<td> {{ item.number}} </td>
						</tr>
						</tbody>
					</table>
				</li>
				<li>
					<table class="detailTable">
						<thead>
						<tr>
							<th>排污口经度</th>
							<th>排污口纬度</th>
							<th>受纳水体名称</th>
							<th>排污口到受纳水体距离</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in emergancy.company.FXYS.pkinfos">
							<td> {{ item.jd }} </td>
							<td> {{ item.wd}} </td>
							<td> {{ item.snst }} </td>
							<td> {{ item.snstjl }} </td>
						</tr>
						</tbody>
					</table>
				</li>
				<li>
					<table class="detailTable">
						<thead>
						<tr>
							<th>风险物质名称</th>
							<th>数量（吨）</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in emergancy.company.FXWZ">
							<td> {{ item.name }} </td>
							<td> {{ item.storage}} </td>
						</tr>
						</tbody>
					</table>
				</li>
			</ul>
		</div>
<!--		<div class="item-title" style="margin-bottom:10px;">预案附件-->
<!--			<button class="searchBtn" style="float: right;margin-right: 10px;margin-top: 4px"  ui-sref="enterpriseHead.emergencyFile({id:detail.ID})">-->
<!--				<i class="iconfont icon-tianjia" style="font-size: 14px"></i>添加-->
<!--			</button>-->
<!--		</div>-->
		<table class="detailTable">
			<thead>
				<tr>
					<th>附件名称</th>
					<th>附件类型</th>
					<th>文件大小</th>
					<th>上传日期</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="detail in file.list.dataList">
					<td> {{ detail.URL }} </td>
					<td> {{ detail.TYPE==1?'应急综合预案': detail.TYPE==2?'应急专项预案': detail.TYPE==3?'应急现场处置预案': detail.TYPE==4?'应急预案备案表': detail.TYPE==5?'应急预案编制说明': detail.TYPE==6?'环境风险评估报告': detail.TYPE==7?'环境应急资源调查报告': detail.TYPE==8?'环境应急预案评审意见': detail.TYPE==9?'其他':''}} </td>
					<td> {{ input(detail.SIZE) }} </td>
					<td> {{ detail.TIME | date: 'yyyy-MM-dd' }} </td>
					<td>
						<a ng-href="{{detail.URLS}}"><span class="oper">下载</span></a>
					</td>
				</tr>
			</tbody>
		</table>
		<uib-pagination ng-change="getFileDetail()" total-items="file.totalCount" items-per-page="file.pageSize" ng-model="file.currentPage" class="pagination" boundary-link-numbers="true" direction-links="false" rotate="false" max-size="3" first-text="首页" last-text="末页">
		</uib-pagination>
		<div class="clearfix"></div>
		<div id="haha" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, .8); display: none; z-index:100;">
		</div>
		<div class="tasks-alert">
			<div class="alert-title">操作提示</div>
			<div class="alert-content">{{textContent}}</div>
			<ul class="alert-button">
				<li ng-click="yesAlert()" ng-if="textContent=='确定删除吗?删除记录不可恢复！'">确定</li>
				<li ng-click="noAlert(textContent)">{{textContent=='确定删除吗?删除记录不可恢复！'?'取消':'关闭'}}</li>
			</ul>
		</div>
		<div class="task-alert" style="z-index: 9999">
			<div class="alert-title">操作提示</div>
			<div class="alert-content">保存成功！</div>
			<ul class="alert-button">
				<li ng-click="sureAlert()">关闭</li>
			</ul>
		</div>
		<div class="tasks-alerts" style="z-index: 9999">
			<div class="alert-title">操作提示</div>
			<div class="alert-content">删除成功！</div>
			<ul class="alert-button">
				<li ng-click="sureAlert()">关闭</li>
			</ul>
		</div>
	</section>
</div>
