<div ng-controller="majorDDCtrl">
    <div style="background-color: rgba(0,0,0,.7);padding: 12px 20px 20px;">
        <div class="clearfix">
            <div class="tb-title"> {{level=='major'?'重大':'一般'}}隐患详情</div>
            <div class="fr">
                <button class="searchBtn" onclick="history.go(-1)">
                    <i class="iconfont icon-fanhui"></i>
                    返回
                </button>
            </div>
        </div>
        <form ng-submit="submit()">
        <div class="item-title">基本信息</div>
        <div class="item-content">
            <p><span class="item-content-name">任务名称</span>：{{obj.tName}}</p>
            <p><span class="item-content-name">企业名称</span>：{{obj.companyName}}</p>
            <div>
                <span  class="item-content-name">排查日期：</span>{{obj.TIME | date:'yyyy-MM-dd'}}
                <span  class="item-content-name" style="margin-left: 20px">现场排查负责人：</span>{{obj.iRESPONSIBLEPERSON}}
            </div>
        </div>
        <div class="item-title">排查项目
        </div>

        <div class="item-content">
            <p>
                <span>排查内容：中间事故缓冲设施， 应急水池或事故存液池（一下统称应急池）</span>
            </p>
            <p>
                <span class="item-content-name">具体内容：</span>
                <span >{{obj.NAME}}</span>
            </p>
            <p><span class="item-content-name">排查结果：</span>
                <span>{{obj.RESULT==0?'是':'否'}}</span>
                <span class="item-content-name" style="margin-left: 20px">隐患级别：</span>
                <span >{{obj.LEVEL==2?'重大隐患':obj.LEVEL==1?'一般隐患':'应急隐患'}}</span></p>
            <p>
                <span class="item-content-name">隐患地点：</span><span >{{obj.ADDRESS}}</span>
            </p>
            <p>
                <span class="item-content-name">潜在危害：</span><span>{{obj.HIDDENDANGER}}</span>
            </p>
            <p>
                <span class="item-content-name">治理期限：</span>
                <span  >{{obj.DEADLINE | date:'yyyy-MM-dd'}}</span>
                <span class="item-content-name" style="margin-left: 20px">整改情况：</span>
                <span >
                    <!--{{obj.isRectification==0?'未整改':obj.isRectification==1?'正在整改':'已整改'}}-->
                    <input type="radio" value="0" ng-model="obj.ISRECTIFICATION"> <span> 未整改</span>
                    <input type="radio" value="1" ng-model="obj.ISRECTIFICATION"> <span> 正在整改</span>
                    <input type="radio" value="2" ng-model="obj.ISRECTIFICATION"><span> 已整改</span>
                </span>
            </p>
            <p>
                <span class="item-content-name">治理责任人：</span>
                <span>{{obj.RESPONSIBLEPERSON}}</span>
                <span ng-if="level=='major'">
                    <span class="check-result" style="margin-left: 20px">督办情况 ：</span>
                    <span class="radio-select">
                        <input type="checkbox" id="xqzg" style="margin-left: 10px" ng-model="obj.ISLIMITRECTIFICATION" />
                        <label for="xqzg">限期整改</label>
                        <input type="checkbox" id="gpdb" style="margin-left: 10px" ng-model="obj.LICENSESTOSUPERVISE" />
                        <label for="gpdb" >挂牌督办</label>
                        <input type="checkbox" id="zjzr" style="margin-left: 10px" ng-model="obj.ISINVESTIGATED"/>
                        <label for="zjzr">追究责任</label>
                        <span  ng-show="obj.ISINVESTIGATED==true">
                            <input type="text"placeholder="人数" ng-model="obj.INVESTIGATED"  class="zjzr"> (人)
                        </span>
                    </span>
                </span>
            </p>
        </div>
        <div class="operate" ng-if="operate=='yes'">
            <button type="submit" class="searchBtn">保存</button>
            <button  class="searchBtn" onclick="history.go(-1)">取消</button>
            <div class="clearfix"></div>
        </div>
        </form>
        <div class="task-alert">
            <div class="alert-title">操作提示</div>
            <div class="alert-content">{{textContent}}</div>
            <ul class="alert-button">
                <li ng-click="sureAlert()" ng-if="textContent=='确定保存吗?'">确定</li>
                <li ng-click="resetAlert(textContent)">{{textContent=='操作成功！'?'关闭':'取消'}}</li>
            </ul>
        </div>
    </div>
</div>
