<div style="width:100%;position:relative">
    <div class="editUser moveLeft" ng-controller="groupSelectCtrl">
        <button type="button" class="btn btn-primary" ui-sref="system.group">返回</button>
        <div class="content" style="position:relative">
            <div class="panelA">
                <div class="panel-title">
                    <div class="menu-lev-left">群组详情</div>
                    <i class="fa fa-angle-up menu-lev-icon" ng-click="isCollapsed=!isCollapsed"></i>
                    <div class="menu-lev-right"  ng-click="group.addGroup('编辑群组信息',group.select.info)">编辑基本信息</div>
                </div>
                <div uib-collapse="isCollapsed" class="panel-table">
                	<div class="panel-scroll">
	                    <table class="table table_user table-bordered">
	                    	<colgroup>
	                                <col style="width:33.3%" />
	                                <col style="width:33.3%;" />
	                                <col style="width:33.3%" />
	                        </colgroup>
	                        <tbody>
	                            <tr>
	                                <td>群组名&nbsp<span>{{group.select.info.displayName}}</span></td>
	                                <td>备注&nbsp<span>{{group.select.info.des}}</span></td>
	                                <td>创建时间&nbsp<span>{{group.select.info.createtimestamp| date : 'yyyy-MM-dd'}}</span></td>
	                            </tr>
	                        </tbody>
	                    </table>
                    </div>
                </div>
            </div>
            <div class="panelA">
                <div class="panel-title">
                    <div class="menu-lev-left">群组成员</div>
                    <i class="fa fa-angle-up menu-lev-icon" ng-click="isCollapsedF=!isCollapsedF"></i>
                    <div class="menu-lev-right"  ng-click="group.editGroupUsers('编辑群组成员',group.select)">编辑群组成员</div>
                </div>
                <div uib-collapse="isCollapsedF" class="panel-table">
                	<div class="panel-scroll">
	                   <table class="table table-bordered table-hover">
	                       <thead>
	                           <tr>
	                               <th>账号</th>
	                               <th>用户名</th>
	                               <th>备注</th>
	                               <th>添加时间</th>
	                           </tr>
	                       </thead>
	                       <tbody>
	                           <tr ng-repeat="users in group.select.users track by $index">
	                               <td><a class="" ui-sref="system.user.select({key:users.uid})" title="查看用户详情">{{users.account}}</a></td>
	                               <td>{{users.displayName}}</td>
	                               <td>{{users.description}}</td>
	                               <td>{{users.createTimestamp|date:'yyyy-MM-dd'}}</td>
	                           </tr>
	                       </tbody>
	                   </table>
                    </div>
                </div>
            </div>
            <div class="panelA">
                <div class="panel-title">
                    <div class="menu-lev-left">群组角色</div>
                    <i class="fa fa-angle-up menu-lev-icon" ng-click="isCollapsedS=!isCollapsedS"></i>
                    <div class="menu-lev-right"  ng-click="group.editGroupRoles('编辑群组角色',group.select)">编辑群组角色</div>
                </div>
                <div uib-collapse="isCollapsedS" class="panel-table">
                	<div class="panel-scroll">
	                    <table class="table table-bordered table-hover">
	                        <thead>
	                            <tr>
	                                <th>角色标识</th>
	                                <th>角色名称</th>
	                                <th>备注</th>
	                                <th>创建时间</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="roles in group.select.roles track by $index">
	                                <td><a class="" ui-sref="system.role.select({key:roles.role})" title="查看角色权限">{{roles.role}}</a></td>
	                                <td>{{roles.name}}</td>
	                                <!--             <td><span ng-repeat="parent in roles.parents">{{parent}};</span></td> -->
	                                <td>{{roles.des}}</td>
	                                <td>{{roles.createtimestamp|date:'yyyy-MM-dd'}}</td>
	                            </tr>
	                        </tbody>
	                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
