  .emergencyPlan .more {
  background-color: #000;
  padding-bottom: 30px;
}

.emergencyPlan .content {
  padding: 5px;
}

.emergencyPlan .delete:hover {
    color: #c62828;
}

.emergencyPlan .content h2 {
  font-size: 20px;
  font-weight: 700;
  color: #ffcc01;
  padding-left: 10px;
  border-left: 4px solid #ffcc01;
  margin-bottom: 20px;
}

.emergencyPlan .content h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-left: 14px;
}

.emergencyDetail .table-content .tasks-alert{
    position: fixed;
    width: 300px;
    left: calc(50% - 150px);
    height: 130px;
    top: calc(50% - 65px);
    padding-bottom: 10px;
    background-color: rgb(0,0,0);
    font-size: 14px;
    z-index: 1000;
    display: none;
}
.alert-title {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 16px;
    color: #FFCC01;
    background-color: #222222;
}
.alert-content{
    padding:10px;
    line-height: 20px;
    color: #fff;
}
.alert-button{
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-size: 0;
    text-align: center;
}
.alert-button li{
    font-size: 14px;
    padding: 0 40px;
    line-height: 26px;
    display: inline-block;
    border-radius: 2px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: none;
    color: #fff;
    background-color: #222;
    border: 1px solid transparent;
    margin: 0 10px;
}
.alert-button li:hover{
    border: 1px solid #ffcc00;

}

.emergencyPlan .content ._right {
  float: right;
  margin-right: 30px;
}

.emergencyPlan .search {
  margin-left: -9px;
}

.emergencyPlan .search > span {
  font-size: 15px;
}

.emergencyPlan .search select {
  margin-right: 25px;
  width: 100px;
}

.emergencyPlan .search button {
  margin-left: 6px;
  font-size: 14px;
  line-height: 30px;
  padding: 0px 11px;
  border-radius: 2px;
  transition: all 0.3s;
  border: 1px solid #000;
}

.emergencyPlan .search button:hover {
  color: #ffcc01;
  border-color: #ffcc01;
  border: 1px solid #ffcc01;
}

.emergencyPlan .search select option {
  background: #222;
  color: #fff;
}

.emergencyPlan  .span {
	margin-right: 25px;
  width: 100px;
}

.emergencyPlan .table-content .condition ul {
  list-style: none;
  margin-top: 10px;
  float: right;
  margin-right: 30px;
}

.emergencyPlan .table-content .condition ul li {
  float: left;
}

.emergencyPlan .table .detailTable {
  margin-top: -20px;
  display: none;
}

#sss .file:last-of-type {
  border-bottom: 3px solid #1b1b1c;
}

.emergencyPlan .table table {
  background-color: black;
}

.emergencyPlan .table table tbody tr td span {
  display: inline-block;
  width: 30px;
  transition: all 0.3s;
}

.emergencyPlan .table table tbody tr td span:hover {
  color: orangered;
}

.emergencyPlan .table table tbody tr td:last-child {
  cursor: pointer;
}

.emergencyPlan .table table tbody tr td i {
  margin-right: 2px;
}



.emergencyPlan .detail li {

  margin-bottom: 10px;
}

.emergencyPlan .detail li input[type=radio] {
  height: 12px;
}

.emergencyPlan .detail li label {
  font-weight: normal;
}

.emergencyPlan .qie {
  margin-right: 40px;
}

.emergencyPlan .charts {
  margin: 10px auto 30px;
  width: 90%;
  height: 600px;
}

.emergencyPlan .pagination {
  float: right;
}

.emergencyPlan .pagination li a {
  color: #ffcc01;
  background: #222;
  border: none;
}

.emergencyPlan .pagination .active a, .emergencyPlan .pagination li a:hover  {
  background: black;
  color: white;
}

.emergencySub .message1 {
  width: 440px;
  line-height: 24px;
  color: #ffd5bc;
  overflow: hidden
}

.emergencySub .message1 .input {
  width: 288px;
  height: 28px;
  line-height: 28px;
  border: none;
  background: #333;
  padding-left: 20px;
  color: #fff;
  font-family: Microsoft YaHei;
}

.emergencySub .message1 .liulan {
  width: 64px;
  height: 28px;
  line-height: 28px;
  border: 1px solid black;
  background: #222;
  color: #fff;
  cursor: pointer;
  transition: all .3s;
  padding: 0 60px 30px 30px;
}

.emergencySub .message1 span {
  color: white;
}

.emergencySub .message1 .liulan:hover {
  border: 1px solid #ffcc01;
  color: #ffcc01;
}

.emergencySub .message1 .files {
  position: absolute;
  left: -1000px;
  top: 52px;
  heigth: 26px;
  cursor: pointer;
  filter: Alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}

.emergencySub .message1 .select {
  margin-top: 20px;
  width: 260px;
}

.emergencySub .more .searchBtn {
  position: absolute;
  right: 27px;
  top: 90px;
}

.emergencySub .more .tab-button {
  transition: all 0.2s;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 3px 23px;
}

.emergencySub .more .tab-button:hover {
  color: #ffcc01;
  border: 1px solid #ffcc01;
}

.emergencySub .more .progress {
  height: 60px;
  width: 450px;
  line-height: 60px;
  background: transparent;
  margin: 0;
}

.emergencySub .more .progress span {
  display: inline-block;
  margin-left: 5px;
}

#parent {
  position: relative;
  display: inline-block;
  background: rgba(227,182,31,0.2);
  border-radius: 10px;
  width: 358px;
  height: 20px;
  margin-bottom: -5px;
}

#son {
  position: absolute;
  background: #e3b61f;
  border-radius: 10px;
  height: 20px;
  width: 0;
  transition: all 0.3s;
}

#number {
  position: absolute;
  top: -20px;
  left: 10px;
  height: 20px;
  color: black;
}

.emergencySub .message1 .select option {
  color: white;
  background-color: black;
}

.emergencySub .message1 button {
  width: 130px;
  height: 34px;
  line-height: 8px;
  border: 1px solid black;
  background: #222;
  color: #fff;
  cursor: pointer;
  transition: all .3s;
  margin-left: 0px;
}

.emergencySub .message1 button:hover {
  border: 1px solid #ffcc01;
  color: #ffcc01;
}

.emergencySub .message1 form div {
  margin-top: 15px;
}

.emergencyDetail .more .content .span {
  display: block;
  font-size: 18px;
  color: white;
  width: 150px;
  height: 41px;
  background: #222;
  border-radius: 2px;
  border: 1px solid #222;
  text-align: center;
  line-height: 36px;
  transition: all .3s;
  margin-left: 13px;
}

.emergencyDetail .more .content .span:hover {
  border: 1px solid #ffcc01;
  color: #ffcc01;
}

.flowplayer .fp-embed{
  display: none !important;
}
.flowplayer .fp-title{
  display: none !important;
}
