.green {
    color: #5da2de;
}

.red {
    color: #f92e2e;
}

.menuTab {
    position: absolute;
    top: 80px;
    left: 10px;
    background: #222;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: #dbdbfb;
    font-size: 18px;
    line-height: 40px;
    z-index: 2;
}

.menuTab > div {
    float: left;
    width: 124.5px;
    text-align: center;
    cursor: pointer;
}

.menuTab > div.active {
    color: #FFCC01;
    text-shadow: 0px 0px 5px rgba(255, 204, 1, 0.3);
}

.menuTab > div:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.simulationOuter {
    position: absolute;
    width: 250px;
    z-index: 2;
    top: 145px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: #dbdbdb;
    letter-spacing: 1px;
}

.layHead {
    line-height: 35px;
    cursor: pointer;
    font-size: 16px;
    padding-left: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.simulationOuter .layHead span {
    /* margin-left: 58px;*/
}

.simulationOuter .layHead select {
    background: #ddd;
    height: 22px;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
    background: #ddd;
    color: #333;
}

.simulationOuter .layFooter {
    line-height: 35px;
    text-align: center;
    margin: 10px 5px;
    background: #222;
    cursor: pointer;
}

.loadLay {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 100%;
    height: 35px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
}

.layMain {
    padding: 0px 5px;
}

.simulationOuter .layMain > div {
    line-height: 35px;
    background: #222;
}

.simulationOuter .layMain > div.paramTitle {
    background: transparent;
}

.posArrow {
    background: url(../images/arrow.png) no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 12px;
}

.posIcon {
    background: url(../images/pos.png) no-repeat;
    display: inline-block;
    width: 15px;
    height: 16px;
    margin-left: 10px;
    vertical-align: middle;
}

.delIcon {
    background: url(../images/del.png) no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: -2px;
    cursor: pointer;
}

.paramDeatail {
    padding-left: 10px;
    padding-right: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    padding-top: 5px;
}

.paramDeatail2 {
    padding-left: 10px;
}

.simulationOuter select,
.simulationOuter input {
    background: #111;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    border: 0px;
}

.chemicalSel {
    float: left;
    background: #111;
    width: 97px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 12px;
}

.paramDeatail2 span {
    display: inline-block;
    width: 100px;
}

.paramDeatail2 input {
    width: 70px;
    padding-left: 2px;
}

.layFooter .btn-start {
    background: transparent;
    color: #FFCC01;
    text-shadow: 0px 0px 5px rgba(255, 204, 1, 0.3);
    line-height: 22px;
    border: 0px;
    letter-spacing: 2px;
    font-size: 16px;
}

.layMain .popover.right {
    border-radius: 4px;
}

.layPop {
    background: white;
    width: 194px;
    color: #333;
}

.paramsPop.layPop {
    width: 240px;
}

.layPop > div {
    line-height: 30px;
}

.layPop > div span {
    width: 64px;
    display: inline-block;
}

.paramsPop.layPop > div span {
    width: 120px;
}

.layPop > div input {
    width: 113px;
    border: 1px solid #666;
    height: 22px;
    line-height: 22px;
    padding-left: 4px;
}

.posInfoLay .popover {
    border-radius: 0px;
    left: 18px;
    top: -99px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
    border: 0px;
    width: 200px;
    height: 160px;
    border-radius: 4px;
}

.posInfoLay .popover label {
    display: inline-block;
    width: 54px;
    padding-left: 4px;
}

.timeAxis {
    position: absolute;
    left: 252px;
    bottom: 20px;
    margin: 0 30px;
    width: calc(100% - 424px);
    overflow: hidden;
    height: 50px;
    z-index: 9;
}

.timeAxis > a {
    width: 50px;
    height: 50px;
    line-height: 47px;
    text-align: center;
    float: left;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    color: #6F7D88;
    font-size: 24px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.timeAxis > div {
    height: 50px;
    line-height: 50px;
    float: left;
    background: rgba(0, 0, 0, 0.7);
    width: calc(100% - 60px);
    padding-top: 10px;
    border-radius: 6px;
}

.timeAxis > div i {
    float: left;
    width: 40px;
    vertical-align: top;
    font-size: 20px;
    padding-left: 13px;
    cursor: pointer;
    color: #6F7D88;
}

.monthSel {
    float: left;
    width: calc(100% - 80px);
    cursor: pointer;
    float: left;
    white-space: nowrap;
    margin-top: 4px;
}

.monthSel li {
    position: relative;
    float: left;
    width: calc(4.54% - 1.5px);
    text-align: left;
    color: #dbdbdb;
}

.monthSel li:first-child {
    width: 31px;
}

.monthSel li .linePoint {
    /*margin-bottom: 5px;*/
    height: 8px;
}

.monthSel li .linePoint + div {
    height: 26px;
    line-height: 26px;
    float: right;
    margin-right: -23px;
}

li .linePoint div {
    height: 2px;
    background: #6C7983;
    vertical-align: middle;
    margin-top: 3px;
}

.linePoint a {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 1px solid #6C7983;
    border-radius: 4px;
    background: #1E2422;
}

li.selected .linePoint a {
    top: -1px;
    background: #FFCC01;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    border: 0px solid #FFCC01;
}

li.selected .linePoint div {
    background: #FFCC01;
}

li.active .linePoint a {
    top: -3px;
    background: #EEB12F;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 0px solid #ECAF2C;
}

li.active .linePoint a:before {
    content: "";
    background: #FFCC01;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #ECAF2C;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid #DBA015;
}

.chartShow {
    position: absolute;
    right: 10px;
    top: 305px;
    width: 542px;
    height: 260px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.chartShow .layHead {
    float: left;
    width: 40px;
    height: 260px;
    color: #FFCC01;
    font-size: 16px;
    background: #222;
    padding-left: 15px;
}

.chartShow .layHead span {
    display: inline-block;
    width: 20px;
    line-height: 19px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: -4px;
}

.chartShow .layMain {
    float: left;
}

.infoBoard {
    position: absolute;
    right: 10px;
    top: 75px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
    width: 542px;
}

.infoBoard > div {
    float: left;
}

.infoBoard .infoLeft {
    width: 340px;
    padding: 10px;
    color: white;
    padding-left: 15px;
}

.infoBoard .infoRight {
    width: 200px;
    padding: 10px;
    ;
    padding-left: 0px;
    color: white;
}

.infoBoard .infoLeft > div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 0px;
    letter-spacing: 1px;
}

.infoBoard .infoLeft > div:last-child {
    border-bottom: 0px;
}

.infoImportant {
    font-size: 16px;
    line-height: 20px;
}

.infoImportant span {
    color: #FFCC01;
    padding: 0px 7px;
    font-weight: bold;
}

.infoBoard .infoLeft > div.infoStart {}

.infoStart > div {
    border-left: 3px solid #FFCC01;
    margin: 8px 0px;
    padding-left: 7px;
}

.infoStart > div > div {
    line-height: 22px;
    font-size: 14px;
    color: #dbdbdb;
}

.infoStart > div > div span {
    font-size: 12px;
    margin-left: 20px;
}

.infoTime {
    font-size: 12px;
    color: #dbdbdb;
    margin: 5px 0px;
}

.concOuter {
    overflow: hidden;
    font-size: 16px;
}

.concOuter > div {
    float: left;
    width: 50%;
}

.concOuter span {
    font-size: 20px;
    /*color: #FFCC01;*/
}

.infoBoard .infoRight .areaTitle {
    line-height: 30px;
    background: #222;
    margin-bottom: 2px;
}

.infoBoard .infoRight .areaTitle span {
    border-left: 3px solid #FFCC01;
    padding-left: 8px;
    margin-left: 10px;
}

.infoBoard .infoRight .areaTitle a {
    color: white;
}

.areaList > div {
    line-height: 30px;
    background: #222;
    margin-bottom: 2px;
    padding-left: 8px;
    color: #dbdbdb;
}

.areaList i {
    display: inline-block;
    width: 2px;
    height: 2px;
    background: #FFCC01;
    vertical-align: middle;
}


/*.infoBoard .layMain {
    background: rgba(255, 255, 255, 0.75);
    color: #000;
}*/

.infoBoard .infoResult {
    font-size: 20px;
    margin-bottom: 10px;
}

.infoBoard .infoResult span {
    font-size: 24px;
    margin: 0px 10px;
    font-weight: bold;
}

.infoBoard .infoResult {
    font-size: 20px;
    margin-bottom: 10px;
}

.infoBoard .infoResult {
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.infoBoard .table-bordered {
    margin-bottom: 5px;
}

.infoBoard .table-bordered > tbody > tr > td {
    padding: 6px;
    font-size: 16px;
    border: 1px solid #6b6b6b;
}

.infoBoard td:first-child {
    width: 110px;
}

.calcOuter {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 50px;
    line-height: 50px;
    margin-left: -295px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.airLegend {
    position: absolute;
    bottom: 80px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
}
.airTimeLong{
	position: absolute;
    top: 87px;
    left: 50%;
    margin-left: -80px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 20px;
    font-size: 20px;
    text-align: center;
}

.overSpan {
    font-size: 15px;
}

.popover {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    z-index: 2;
    color: #ffcc01;
    border: 0px;
}

.featureOver .popover {
    color: #ffcc01;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0px;
    padding: 2px 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    margin-top: -24px;
    margin-left: 20px;
}

.centerOver .popover {
    margin-top: 6px;
    margin-left: -30px;
}

.verticalOver .popover {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    margin-top: -20px;
    margin-left: -8px;
}

.verticalOver1 .popover {
    width: 32px;
    margin-top: -63px;
    margin-left: 5px;
}

.posInfo.featureOver .popover {
    color: #ffcc01;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0px;
    padding: 4px 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}

.ndOuter span {
    display: inline-block;
    color: white;
    padding: 2px 4px;
    width: 74px;
    background: red;
}


/*处置过程*/

.verTimeline {
    width: 100%;
    /*height: 100px;*/
}

.verTimeline > div {
    width: 100%;
    height: 80px;
    position: relative;
    padding-left: 10px;
}

.verTimeline .verLinePoint {
    float: left;
    height: 100%;
}

.verTimeline .verLinePoint > a {
    width: 2px;
    height: 100%;
    background: #6C7983;
    display: inline-block;
}

.verTimeline .verLinePoint > i {
    position: absolute;
    bottom: 0px;
    left: 7px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 1px solid #6C7983;
    border-radius: 4px;
    background: #fff;
}

.verTimeline .verText {
    margin-left: 15px;
    padding-top: 24px;
    color: #333;
    width: 310px;
    position: absolute;
    bottom: 0px;
    font-size: 16px;
}

.verTimeline .active .verLinePoint > a {
    background: #FFCC01;
}

.verTimeline .active .verLinePoint > i {
    left: 3px;
    display: inline-block;
    background: #EEB12F;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 0px solid #ECAF2C;
}

.verTimeline .active .verLinePoint > i:before {
    content: "";
    background: #FFCC01;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #ECAF2C;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid #DBA015;
}

.verTimeline .active .verText {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.map1SubTitle {
    position: absolute;
    top: 87px;
    left: 290px;
    color: #FFCC01;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px 10px;
}

.timeImportant {
    position: absolute;
    top: 130px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: #dbdbfb;
    font-size: 18px;
    z-index: 2;
    width: 250px;
    padding: 0px 5px;
}

.timeImportant > div {
    padding-left: 5px;
}

.timeImportant > div:first-child {
    line-height: 35px;
    color: #FFCC01;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    letter-spacing: 2px;
}

.timeImportant .disTime {
    font-size: 20px;
    margin: 5px 0px;
    text-align: center;
    color: #FFCC01;
    letter-spacing: 6px;
}

.dataBoard {
    position: absolute;
    top: 234px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: #dbdbfb;
    z-index: 4;
    width: 250px;
    padding: 0px 5px;
}

.dataBoard .layHead span {
    font-size: 12px;
    color: #dbdbdb;
    float: right;
    margin-top: 4px;
}

.dataBoard .dataLine {
    height: 30px;
    line-height: 30px;
    background: #222;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dataBoard .dataLine span {
    display: inline-block;
    width: 68px;
    text-align: right;
}

.dataBoard .dataLine span:first-child {
    width: 77px;
    padding-left: 3px;
    text-align: left;
}

.processLine {
    position: absolute;
    top: 480px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: #dbdbfb;
    font-size: 18px;
    z-index: 2;
    width: 250px;
    padding: 0px 5px;
}

.processLine .layMain {
    position: relative;
    padding: 5px 0px;
    height: 140px;
    overflow-y: scroll;
}

.layLine {
    width: 2px;
    height: calc(100% - 20px);
    position: absolute;
    left: 5px;
    top: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.jcOuter {
    position: absolute;
    top: 80px;
    right: 10px;
    z-index: 2;
    width: 394px;
    height: calc(100% - 80px);
}

.jcData {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: #dbdbfb;
    font-size: 18px;
    width: 394px;
    height: calc(25% - 5px);
    margin-bottom: 5px;
}

.jcData .layHead {
    float: left;
    width: 40px;
    /*height: 260px;*/
    height: 100%;
    color: #FFCC01;
    font-size: 16px;
    background: #222;
    padding-left: 15px;
    border-bottom: 0px;
}

.jcData .layHead span {
    display: inline-block;
    width: 20px;
    line-height: 19px;
    font-weight: bold;
    margin-top: -48px;
    text-align: center;
    margin-left: -4px;
    position: relative;
    top: 50%;
}

.jcData .layMain {
    float: left;
    height: 100%;
}

.eventList {
    position: relative;
    overflow: hidden;
}

.eventList i {
    width: 7px;
    height: 20px;
    display: inline-block;
    background: url(../images/pointer.png) no-repeat;
    margin-left: 5px;
    position: absolute;
}

.eventList .eventMain {
    float: left;
    background: #222;
    width: 218px;
    margin-left: 18px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.eventList.active i {
    background: url(../images/pointer2.png) no-repeat;
}

.eventList.active .time {
    color: #FFCC01;
}

.inOut .inOutLay {
    width: 180px;
    position: relative;
}

.inOut .inOutLay .posDot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: red;
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.inOut .inOutLay .posLine {
    width: 2px;
    height: 70px;
    background: red;
    position: absolute;
    bottom: 0px;
    right: -1px;
}

.inOut .inOutLay > div {
    position: absolute;
    bottom: 12px;
    right: 4px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 6px 10px;
}

.inOut .popover {
    margin: 0px;
    margin-left: -180px;
    background: transparent;
}

.inOut .popover-content {
    padding: 0px;
}

.inOut .popover .arrow {
    display: none;
}

.barOuter {
    position: absolute;
    bottom: 5px;
    right: 414px;
    z-index: 2;
    height: calc(25% - 21px);
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: #dbdbfb;
    font-size: 14px;
}

.barOuter .layHead {
    border: 0px;
    padding-left: 15px;
    background: #222;
    color: #FFCC01;
}

.barOuter .timePatch {
    float: left;
    width: 60px;
    height: 100%;
}

.barOuter .layMain {
    float: left;
    height: 100%;
}

.timePatch i {
    display: block;
    width: 40px;
    height: 24px;
    font-size: 20px;
    cursor: pointer;
    color: #6F7D88;
    padding-left: 4px;
}

.timePatch .patchSel {
    width: 40px;
    height: calc(100% - 48px);
    cursor: pointer;
    white-space: nowrap;
    margin-left: 4px;
    margin: 0px;
}

.timePatch .patchSel li {
    position: relative;
    width: 40px;
    height: calc(33.3% - 6px);
    text-align: left;
    color: #dbdbdb;
    padding-left: 9px;
}

.timePatch .patchSel li:first-child {
    height: 18px;
}

.timePatch .patchSel li .linePoint2 {
    width: 8px;
    height: 100%;
    float: left;
}


/*.timePatch li.selected .linePoint2 div {
    background: #FFCC01;
}*/

.timePatch li .linePoint2 div {
    width: 2px;
    height: 100%;
    background: #6C7983;
    text-align: center;
    margin-left: 3px;
}

.timePatch .linePoint2 a {
    position: absolute;
    left: 9px;
    bottom: 0px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 1px solid #6C7983;
    border-radius: 4px;
    background: #1E2422;
}

.timePatch li.selected .linePoint2 a {
    left: 8px;
    background: #FFCC01;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    border: 0px solid #FFCC01;
}

.timePatch li.active .linePoint2 a {
    left: 5px;
    background: #EEB12F;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 0px solid #ECAF2C;
}

.timePatch li.active .linePoint2 a:before {
    content: "";
    background: #FFCC01;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #ECAF2C;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid #DBA015;
}

.timePatch .patchSel li .linePoint2 + div {
    width: 26px;
    text-align: center;
    float: right;
    position: absolute;
    bottom: -6px;
    left: 24px;
}



