<div  ng-controller="yilanbiao">
    <div class="clearfix">
        <div class="tb-title"> 生成工艺-新增</div>
        <div class="fr">
            <button class="searchBtn" onclick="history.go(-1)">
                <i class="iconfont icon-fanhui"></i>
                返回
            </button>
        </div>
    </div>
    <div class="item-content" style="background-color: rgba(0,0,0,.7)">
        <div>
            <span class="check-result1">类型：</span>
            <input type="radio" ng-model="ylb.scgy.gylx" value="1" class="regular-radio" id="radio1"/>
            <label for="radio1" class="hander"></label>
            <span style="margin-right: 10px">常见工艺 </span>
            <input type="radio" ng-model="ylb.scgy.gylx" value="2" class="regular-radio" id="radio2"/>
            <label for="radio2" class="hander"></label>
            <span style="margin-right: 10px">其他高温或高压、涉及易燃易爆等物质的工艺过程</span>
            <input type="radio" ng-model="ylb.scgy.gylx" value="3" class="regular-radio" id="radio3"/>
            <label for="radio3" class="hander"></label>
            <span style="margin-right: 10px">具有国家规定限期淘汰的工艺名录和设备</span>
            <input type="radio" ng-model="ylb.scgy.gylx" value="4" class="regular-radio" id="radio4"/>
            <label for="radio4" class="hander"></label>
            <span style="margin-right: 10px">其他</span>
            <br><br>
        </div>
        <br>
        <div ng-show="ylb.scgy.gylx == '1'">
            <span class="check-result1">名称：</span>
            <select ng-model="ylb.scgy.gyName1" class="text-info-small">
                <option value="光气及光气化工艺">光气及光气化工艺</option>
                <option value="电解工艺（氯碱）">电解工艺（氯碱）</option>
                <option value="氯化工艺">氯化工艺</option>
                <option value="硝化工艺">硝化工艺</option>
                <option value="合成氨工艺">合成氨工艺</option>
                <option value="裂解（裂化）工艺">裂解（裂化）工艺</option>
                <option value="氟化工艺">氟化工艺</option>
                <option value="加氢工艺">加氢工艺</option>
                <option value="重氮化工艺">重氮化工艺</option>
                <option value="氧化工业">氧化工业</option>
                <option value="过氧化工艺">过氧化工艺</option>
                <option value="胺基化工艺">胺基化工艺</option>
                <option value="磺化工艺">磺化工艺</option>
                <option value="聚合工艺">聚合工艺</option>
                <option value="烷基化工艺">烷基化工艺</option>
                <option value=">新型煤化工工艺">新型煤化工工艺</option>
                <option value="电石生产工艺">电石生产工艺</option>
                <option value=">偶氮化工艺">偶氮化工艺</option>
            </select>
            <br><br>
        </div>
        <div ng-show="ylb.scgy.gylx != '1'">
            <span class="check-result1">名称：</span>
            <input class="text-info-small" ng-model="ylb.scgy.gyName2">
            <br><br>
        </div>
        <div ng-show="ylb.scgy.gylx == '2'">
            <span class="check-result1">备注：</span>高温指工艺温度≥300℃，高压指压力容器的设计压力（p）≥10.0MPa，易燃易爆等物质是指按照GB30000.2至GB30000.13所确定的化学物质
            <br><br>
        </div>
        <div ng-show="ylb.scgy.gylx == '3'">
            <span class="check-result1">备注：</span>国家规定限期淘汰的工艺名录和设备指《产业结构调整指导目录》中有淘汰限期的淘汰类落后生产工艺装备
            <br><br>
        </div>
        <div class="operate" >
            <button class="searchBtn" ng-click="items.type=='edit'?editYlb(11):postYlb(11)">保存</button>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="task-alert">
        <div class="alert-title">操作提示</div>
        <div class="alert-content">{{textContent}}</div>
        <ul class="alert-button">
            <li ng-click="sureAlert()" ng-if="textContent=='确定提交吗?'">确定</li>
            <li ng-click="resetAlert(textContent)">{{textContent=='确定提交吗?'?'取消':'关闭'}}</li>
        </ul>
    </div>
</div>
