<div style="width:100%;position:relative">
    <div class="editUser moveLeft" ng-controller="userSelectCtrl">
        <button type="button" class="btn btn-primary" ui-sref="system.user">返回</button>
        <div class="content" style="position:relative">
            <div class="panelA">
                <div class="panel-title">
                    <div class="menu-lev-left">用户详情</div>
                    <i class="fa fa-angle-up menu-lev-icon" ng-click="isCollapsed=!isCollapsed"></i>
                    <div class="menu-lev-right" ng-click="user.addUser('编辑用户', user.select.info)">编辑基本信息</div>
                </div>
                <div uib-collapse="isCollapsed" class="panel-table">
               		<div class="panel-scroll panel-user">
	                    <table class="table table_user table-bordered">
	                    	<colgroup>
	                                <col style="width:33.3%" />
	                                <col style="width:33.3%;" />
	                                <col style="width:33.3%" />
	                        </colgroup>
	                        <tbody>
	                            <tr>
	                                <td>账号&nbsp<span>{{user.select.info.account}}</span></td>
	                                <td>用户名&nbsp<span>{{user.select.info.displayName}}</span></td>
	                                <td ><span><a class=" " ng-click="user.resetKey()">重置密码</a></span>
	                                	<i uib-popover="重置密码为123456" popover-trigger="mouseenter" class="fa fa-exclamation-circle"></i>
	                                </td>
	                            </tr>
	                            <tr>  
	                                <td>备注&nbsp<span>{{user.select.info.description}}</span></td>
	
	                                <td>创建时间&nbsp<span>{{user.select.info.createTimestamp|date:'yyyy-MM-dd'}}</span></td>
	                            </tr>
	                        </tbody>
	                    </table>
                    </div>
                </div>
            </div>
            <div class="panelA">
                <div class="panel-title">
                    <div class="menu-lev-left">用户角色</div>
                    <i class="fa fa-angle-up menu-lev-icon" ng-click="isCollapsedF=!isCollapsedF"></i>
                    <div class="menu-lev-right" ng-click="user.editUserRole('编辑用户角色',user.select)">编辑用户角色</div>
                </div>
                <div uib-collapse="isCollapsedF" class="panel-table">
                	<div class="panel-scroll panel-user">
	                    <table class="table table-bordered">
	                        <thead>
	                            <tr>
	                                <th>角色标识</th>
	                                <th>角色名称</th>
	                                <th>备注</th>
	                                <th>创建时间</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="roles in user.select.roles track by $index">
	                                <td><a class="" ui-sref="system.role.select({key:roles.role})" title="查看角色权限">{{roles.role}}</a></td>
	                                <td>{{roles.name}}</td>
	                                <!--             <td><span ng-repeat="parent in roles.parents">{{parent}};</span></td> -->
	                                <td>{{roles.des}}</td>
	                                <td>{{roles.createtimestamp|date:'yyyy-MM-dd'}}</td>
	                                <!--                                 <td style="width:200px"><a class="table_a border_right" ng-click="">查看权限</a><a class="table_a" ng-click="">解除授权</a></td> -->
	                            </tr>
	                        </tbody>
	                    </table>
                    </div>
                </div>
            </div>
            <div class="panelA">
                <div class="panel-title">
                    <div class="menu-lev-left">用户加入的组</div>
                    <i class="fa fa-angle-up menu-lev-icon" ng-click="isCollapsedS=!isCollapsedS"></i>
                </div>
                <div uib-collapse="isCollapsedS" class="panel-table">
                	<div class="panel-scroll panel-user">
	                    <table class="table table-bordered">
	                        <thead>
	                            <tr>
	                                <th>组名</th>
	                                <th>备注</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="groups in user.select.groups track by $index">
	                                <td><a class="" ui-sref="system.group.select({key:groups.groupTag})" title="查看组详情">{{groups.displayName}}</a></td>
	                                <td>{{groups.des}}</td>
	                            </tr>
	                        </tbody>
	                    </table>
                    </div>
                </div>
            </div>
            <div class="panelA">
                <div class="panel-title">
                    <div class="menu-lev-left">操作日志</div>
                    <i class="fa fa-angle-up menu-lev-icon" ng-click="isCollapsedT=!isCollapsedT"></i>
                </div>
                <div uib-collapse="isCollapsedT">
                	<div class="panel-scroll panel-user">
	                    <table class="table table-bordered">
	                        <thead>
	                            <tr>
	                                <th>操作记录</th>
	                                <th>操作时间</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	<!--                                 <td>{{select.group}}</td>
	                                <td>{{select.remark}}</td> -->
	                            </tr>
	                        </tbody>
	                    </table>
	               </div>
                </div>
            </div>
			<div class="panelA">
				<div class="panel-title">
					<div class="menu-lev-left">行政区划</div>
					<i class="fa fa-angle-up menu-lev-icon" ng-click="isCollapsedT=!isCollapsedT"></i>
				</div>
				<div uib-collapse="isCollapsedT">
					<div class="panel-scroll panel-user">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th><button class="searchBtn" ng-click="user.xzqhSelect()">选择行政区划</button></th>
								<th style="vertical-align: middle">操作时间</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td colspan="2"><select>
										<option value="-1">贵州省</option>
									</select>
									<select ng-model="user.city" ng-change="getCounties(user.city)">
										<option value="">全部</option>
										<option value="{{item.id}}" ng-repeat="item in citySelect">{{item.name}}</option>
									</select>
									<select ng-model="user.counties" ng-change="getEnterprise(user.counties)">
										<option value="">全部</option>
										<option value="{{item.id}}" ng-repeat="item in countiesSelect">{{item.name}}</option>
									</select>
									<select ng-model="user.enterprise">
										<option value="">全部</option>
										<option value="{{item.COMPANYID}}" ng-repeat="item in enterpriseSelect">{{item.COMPANYNAME}}</option>
									</select>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
