<div  ng-controller="taskManageCtrl">
    <div class="tab-task">
        <div class="tab-nav">
            <button class="tab-button" ui-sref="approval.waiter" ui-sref-active="active">
                待审核
            </button>
            <button class="tab-button" ui-sref="approval.drawing" ui-sref-active="active">
                已审核
            </button>
            <button class="tab-button" ui-sref="approval.taskManage" ui-sref-active="active">
                任务管理
            </button>
<!--            <button class="tab-button" ui-sref="approval.checkRecord" ui-sref-active="active" >-->
<!--                排查记录-->
<!--            </button>-->
            <button class="tab-button" ui-sref="approval.majorDanger" ui-sref-active="active">
                重大隐患
            </button>
            <button class="tab-button" ui-sref="approval.manageDanger" ui-sref-active="active">
                应急管理隐患
            </button>

        </div>
    </div>
    <div class="table-content">
        <div class="search-nav">
            截止日期：<input cgs-date-picker date-fmt="yyyy-MM-dd"
                        ng-model="items.strTime" /> ~
            <input cgs-date-picker date-fmt="yyyy-MM-dd"
                   ng-model="items.endTime"  style="margin-right: 20px"/>
            任务名称：<input type="text" placeholder="任务名称" ng-model="items.keywords">
            <button class="searchBtn" style="margin-left: 20px" ng-click="searchMsg()">
                <i class="iconfont icon-sousuo"></i>搜索
            </button>
        </div>
        <table style="margin-top: 16px;">
            <thead>
            <tr>
                <th>序号</th>
                <th>行政区划</th>
                <th>任务名称</th>
                <th>截止日期</th>
                <th>企业总数</th>
                <th>已完成企业</th>
                <th>任务状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in obj">
                <td>{{(items.pageNo-1)*items.pageSize+$index+1}}</td>
                <td>{{userList.xzqyName}}</td>
                <td>{{item.NAME}}</td>
                <td>{{item.DEADLINE | date:'yyyy-MM-dd'}}</td>
                <td>{{item.sum}}</td>
                <td>{{item.csum}}</td>
                <td ng-class="item.STATUS=='10'?'finishColor':item.STATUS=='1'?'warning':item.STATUS=='2'?'dangerColor':''"><!--状态位:0-进行中，1-预警，2-超时，10-已完成-->
                    {{item.STATUS=='0'?'执行中':item.STATUS=='1'?'预警':item.STATUS=='2'?'超时':'已完成'}}
                </td>
                <td>
                    <span class="hander oper" ui-sref="approval.taskStatistics({id:item.ID,time:item.DEADLINE,
                    taskName:item.NAME,status:item.STATUS,info:item.INFO})">
                        统计
                    </span>
                    </td>
            </tr>
            </tbody>
        </table>
        <p class="dangerColor noDate"  ng-if="noData==true">无数据</p>
        <uib-pagination
                ng-change="pageType==1?getMsg():searchMsg()"
                total-items="items.total"
                ng-model="items.pageNo"
                items-per-page="items.pageSize"
                first-text="first"
                class="pagination"
                boundary-link-numbers="true"
                direction-links="false"
                rotate="false">
        </uib-pagination>
        <div class="clearfix"></div>
    </div>

</div>
