<div class="emergencyPlan">
    <div class="table-content">
      <div class="search-nav" style="margin-top:0">
        <input ng-model="modal.keyword" type="text" placeholder="企业名称" class="span" style="width: 200px">
        <button class="searchBtn" ng-click="modal.queryUsers()">
          <i class="iconfont icon-sousuo"></i>&nbsp;搜索
        </button>
        <button class="searchBtn" ng-click="modal.openModal('add')">
            <i class="iconfont icon-tianjia"></i>&nbsp;新增账号
        </button>
        <button class="searchBtn" ng-click="modal.openModal('add','enter')">
          <i class="iconfont icon-tianjia"></i>&nbsp;新增企业
        </button>
      </div>
      <table style="margin-top: 10px">
        <thead>
          <tr>
            <th style="width:90px">序号</th>
            <th>用户名</th>
            <th>角色</th>
            <th>姓名</th>
            <th>企业名</th>
            <th>手机号</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in modal.users">
            <td style="width:90px">{{modal.page.size*(modal.page.no-1)+$index+1}}</td>
            <td ng-bind="user.account"></td>
            <td>企业账户</td>
            <td ng-bind="user.displayname"></td>
            <td ng-bind="user.description"></td>
            <td ng-bind="user.custodianTelephone"></td>
            <td>
                <!--<span ng-click="modal.openModal('detail',user)" class="hander oper">详情</span>&nbsp;&nbsp;-->
                <span ng-click="modal.deleteUser(user.company)" style="color:red" class="hander oper">删除</span>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="noDate dangerColor" ng-show="modal.users.length==0">无数据</p>
      <uib-pagination ng-change="modal.queryUsers()"
                      total-items="modal.page.total"
                      items-per-page="modal.page.size"
                      ng-model="modal.page.no"
                      class="pagination"
                      boundary-link-numbers="true"
                      direction-links="false" rotate="false"
                      max-size="3" first-text="首页"
                      last-text="末页">
      </uib-pagination>
      <div class="clearfix">
      </div>
    </div>
    <div class="task-alert">
      <div class="alert-title">操作提示</div>
      <div class="alert-content">{{textContent}}</div>
      <ul class="alert-button">
        <li ng-click="sureAlert()" ng-if="textContent=='确定删除企业帐号及企业所有相关信息?'">确定</li>
        <li ng-click="resetAlert(textContent)">{{textContent=='确定删除企业帐号及企业所有相关信息?'?'取消':'关闭'}}</li>
      </ul>
    </div>
  </div>
  