@import "../variablesPure";
$tag-color-primary:$theme-primary !default;//标签默认颜色

$tag-border-color:$theme-primary !default;//标签边框颜色

$tag-bg:rgba(84, 88, 224, 0.2); //标签背景色

$tag-close-color: #ffffff; //关闭标签颜色
$tag-close-bg: #a6a6a7; //关闭标签背景
$tag-close-active: #999999; //关闭标签active颜色



