$input-color:              $formctrl-color!default;
$input-font-size:          $formctrl-font-size!default;
$input-border-color:        $formctrl-border-color!default;
$input-border-radius:       $formctrl-boder-radius!default;
$input-background-color:   $formctrl-background-color!default;
$input-boxshadow-color:    $formctrl-boxshadow-color!default;
$input-padding-vertical:   $formctrl-padding-vertical!default;
$input-padding-horizontal: $formctrl-padding-horizontal!default;
$input-error-border-color: $formctrl-error-color!default;

$input-label-font-size:    $formctrl-font-size!default;
$input-label-color:        $formctrl-color!default;

$input-active-border-color: $theme-primary!default;

$input-disabled:           $formctrl-disabled-color!default;    //禁用状态文字颜色
