$menu-bottom-border-size: 4px !default;
$menu-font-size: 16px !default;
$menu-light-color: $theme-text-primary !default;
$menu-light-bg: #ffffff !default;
$menu-light-active-border-color: $theme-primary !default;
$menu-light-active-color: $theme-primary !default;
