$steps-item-content-color:       rgba($theme-text-primary,40%)!default;
$steps-item-title-color:         rgba($theme-text-primary,50%)!default;
$steps-item-finish-title-color:  $theme-text-primary!default;
$steps-item-active-color:        $theme-primary!default;
$steps-item-active-border-color: $theme-primary!default;
$steps-item-active-bg:           $theme-primary!default;
$steps-item-tail-color:          $theme-gray-dark!default;
$steps-item-head-border-color:   $theme-gray-dark!default;
