$timeline-primary:     $theme-info!default;
$timeline-success:     $theme-success!default;
$timeline-danger:      $theme-danger!default;

$timeline-head-size:   11px!default;
$timeline-head-border-size:   2px!default;
