<div class="emergencyPlan emergencyDetail" ng-controller="emerDetailShCtrl">

    <section class="table-content">
      <div class="clearfix">
        <div class="tb-title"> 预案详情</div>
        <div class="fr">
          <button class="searchBtn" onclick="history.go(-1)">
            <i class="iconfont icon-fanhui"></i>
            返回
          </button>
        </div>
      </div>
      <div class="item-title">基本信息</div>
      <div class="item-content">
        <ul class="detail">
          <li>
            <span>企业名称：</span><span ng-model="company.COMPANYNAME"></span>
            {{ aaa }}
          </li>
          <li>
            <span>备案状态*：</span>
            <input type="radio" id="radioA" name="radio1" ng-model="company.recordStatus" value="0" /><label for="radioA" style="margin-right: 30px;">未备案</label>
            <input type="radio" id="radioB" name="radio1" ng-model="company.recordStatus" value="1" /><label for="radioB">已备案</label>
          </li>
          <li>
            <span>备案时间：</span><span class="qie"><input cgs-date-picker date-fmt='yyyy-MM-dd' ng-model="company.recordtime" style="margin-right: 20px;"></span>
            <span>预案管理经办人：</span><input ng-model="company.underSigned" type="text" style="margin-right: 20px;">
            <span>联系方式：</span><input ng-model="company.preplanTel" type="text">
          </li>
          <li>
            <span>风险级别：</span>
            <input type="radio" id="radioD"  ng-model="company.level" value="1" /><label for="radioD" style="margin-right: 30px;">一般风险源</label>
            <input type="radio" id="radioE"  ng-model="company.level" value="3" /><label for="radioE" style="margin-right: 30px;">较大风险源</label>
            <input type="radio" id="radioF"  ng-model="company.level" value="2" /><label for="radioF">重大风险源</label>
          </li>
          <li>
            <span>编制年份：</span>
            <span class="qie"><input ng-model="company.documentYear" cgs-date-picker date-fmt='yyyy' style="margin-right: 50px;"></span>
          </li>
          <span id="ha" ng-click="save()">保存</span>
        </ul>
      </div>
      <div class="item-title" style="position: relative">预案附件
        <button class="searchBtn" ui-sref="cityHead.emergencySub({ID:company.id})" style="position: absolute;right: 10px; top: 3px">
          <i class="iconfont icon-tianjia" style="font-size: 14px"></i>添加
        </button>
      </div>
      <div class="item-content" style="background: rgba(255, 255, 255, 0.05)">
        <section>
          <table class="detailTable">
            <thead>
              <tr>
                <th>附件名称</th>
                <th>附件类型</th>
                <th>文件大小</th>
                <th>上传日期</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
                <tr ng-repeat="detail in page.list.dataList" style="cursor: pointer">
                  <td> {{ detail.URL }} </td>
                  <td> {{ detail.TYPE==1?'应急综合预案': detail.TYPE==2?'应急专项预案': detail.TYPE==3?'应急现场处置预案': detail.TYPE==4?'应急预案备案表': detail.TYPE==5?'应急预案编制说明': detail.TYPE==6?'环境风险评估报告': detail.TYPE==7?'环境应急资源调查报告': detail.TYPE==8?'环境应急预案评审意见': detail.TYPE==9?'其他':''}} </td>
                  <td> {{ detail.SIZE/1024/1024 | number: 3 }}Mb </td>
                  <td> {{ detail.TIME | date:'yyyy-MM-dd' }} </td>
                  <td>
                    <a ng-href="{{detail.URLS}}"><span class="oper">下载</span></a>
                    <span class="delete" ng-click="deleteTask(detail.ID)">删除</span>
                  </td>
                </tr>
              </tbody>
          </table>
          <div class="tasks-alert">
              <div class="alert-title">操作提示</div>
              <div class="alert-content">{{textContent}}</div>
              <ul class="alert-button">
                  <li ng-click="yesAlert()" ng-if="textContent=='确定删除吗?删除记录不可恢复！'">确定</li>
                  <li ng-click="noAlert(textContent)">{{textContent=='确定删除吗?删除记录不可恢复！'?'取消':'关闭'}}</li>
              </ul>
          </div>
          <uib-pagination
              ng-change="getManageDetail()"
              total-items="page.totalCount"
              items-per-page="page.pageSize"
              ng-model="page.currentPage"
              class="pagination"
              boundary-link-numbers="true"
              direction-links="false"
              rotate="false"
              max-size="3"
              first-text="首页"
              last-text="末页">
            </uib-pagination>
          <div class="clearfix"></div>
        </section>
      </div>
      <div id="haha" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, .8); display: none; z-index:100;">
      </div>
      <div class="task-alert" style="z-index: 9999">
          <div class="alert-title">操作提示</div>
          <div class="alert-content">保存成功！</div>
          <ul class="alert-button">
              <li ng-click="sureAlert()">关闭</li>
          </ul>
      </div>
      <div class="tasks-alerts" style="z-index: 9999">
          <div class="alert-title">操作提示</div>
          <div class="alert-content">删除成功！</div>
          <ul class="alert-button">
              <li ng-click="sureAlert()">关闭</li>
          </ul>
      </div>
    </section>

</div>
