.userImg{
	background-image: url(../images/sys_user.png);
	background-repeat: no-repeat;
	background-position: center;
}
.groupImg{
	background-image: url(../images/sys_group.png);
	background-repeat: no-repeat;
	background-position: center;
}
.roleImg{
	background-image: url(../images/sys_role.png);
	background-repeat: no-repeat;
	background-position: center;
}
.leftMenu>div.active>.userImg{
	background-image: url(../images/sys_user1.png);
}
.leftMenu>div.active>.groupImg{
	background-image: url(../images/sys_group1.png);
}
.leftMenu>div.active>.roleImg{
	background-image: url(../images/sys_role1.png);
}
.user_toolTip {
    height: 50px;
    width: 100%;
    margin: 0 auto;
}
a{
	cursor:pointer
}
.user_toolTip_left {
    display: inline-block;
}
.user_toolTip_right {
    float: right;
}

.select_tool {
    width: 100px;
    display: inline-block;
    height: 34px;
    margin-top: 2px;
    font-size: 12px;
    padding: 0px 3px;
    vertical-align: bottom;
}
.input_tool {
    width: 180px;
    display: inline-block;
    height: 34px;
    padding: 1px 3px;
    font-size: 12px;
    vertical-align: bottom;
}
.page {
    display: inline-block;
    float: right;
}
.page_left {
    display: inline-block;
    vertical-align: top;
	margin-top: 26px;
	margin-right: 6px;
}
.table_a {
    display: inline-block;
    width: 48%;
    text-align: center;
    cursor: pointer;
}
.border_right {
    border-right: 1px solid #E5E5E5;
}
.editUser {
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 10px;
    padding: 16px 12px 0 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.22); */
    transition: opacity 0.3s, visibility 0.3s, top 1s;
}
.editUser.moveLeft {
    top: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
}
.content1 {
    width: 100%;
    padding: 25px 12px 0 12px;
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 0;
}
.content1.moveLeft {
    top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s;
}
.menu-lev-left {
    display: inline-block;
    padding: 7px 10px;
    border-radius: 2px;
}

.menu-lev-right {
    border-left: 1px solid #EBEFF2;
    border-right: 1px solid #EBEFF2;
    float: right;
    right: 5px;
    padding: 7px 12px;
    cursor: pointer;
}
.panel-group .panel-heading {
    padding: 0;
    border-top: 1px solid #ddd;
}
.menu-lev-icon {
    padding: 5px 12px;
    font-size: 25px;
    float: right;
}
.content {
    /* position: relative; */
    /* margin-top: 10px; */
}
.panel-title {
    /* border-radius: 2px; */
    /* border-top: 1px solid #cccccc; */
    border-left: 2px solid #ffcc01;
    background-color:#7d7c7c;
    font-size: 15px;
    /* border-bottom: 1px solid #cccccc; */
}
.panel-body {
    padding: 0px;
}
.panelA {
    margin-bottom: 20px;
}
.panelA .panel-table{
    max-height: 133px;
    overflow-y: auto;
}

.table_user>tbody>tr>td {
    color: #7E7E7E;
}

.table_user>tbody>tr>td>span {
    color: #fff;
    padding-left: 10px;
}
.role-parent{
    padding: 2px 4px;
    margin: 0 2px;
/*     border-radius: 2px; */
}
.modal_role_text {
    background-color: #FDF8E2;
    color: #E38A2E;
    border: 1px solid #F9EDD4;
}
.fa{
    cursor: pointer;
}
.btn-edit{
    padding: 3px;
    margin: 4px 2px 2px 5px;
}

/* 琛ㄥ崟楠岃瘉 */
.has-feedback .form-control {
    padding-right: 28.5px;
}
.error-feedback{
    position: absolute;
    right: -50px;
    top: 10px;
    font-size: 12px;
    width: auto;
    color: #a94442;
}
.form-horizontal .has-feedback .form-control-feedback {
    right:0px;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

/* 瑙掕壊鏉冮檺缂栬緫琛ㄦ牸鏍峰紡 */
.table-role>tbody>tr>td{
	padding:5px;
	vertical-align: middle;
}
.table-role .opeLi{
    margin:0;
    display:inline;
}
.table-role .opeLi li{
    display: inline-block;
    margin: 3px 7px 3px 0px;
    padding: 2px 4px;
    border: 1px solid #ccc;
/*     border-radius: 2px; */
}
.table-role .opeLi.editing li{
    background-color: #6a8fb1;
    border: 0px;
    color: white;
    padding: 0px;
    vertical-align: bottom;
}
.inli{
    display: inline;
	font-size: 0;
}
.opeLi .leftOpe{
	border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2px 5px 2px 6px;
    background-color: #94989c;
    display: inline-block;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    cursor:pointer;
}
.opeLi .opeName{
    padding: 0 6px;	
}
.editBtn{
    display: inline;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 24px;
    width: 20px;
    font-size: 13px;
/*     border-radius: 2px; */
    background-color: #f9f7f7;
    padding: 0 3px;
	margin: 3px 0px;
	vertical-align: bottom;
}
.editBtn:hover{
	border: 1px solid #ccc;
    background-color: #d8d7d7;
}
.editBtn[disabled]{
	cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.editBtn[disabled]:hover{
	background-color: #f9f7f7;
}
.editBtn.opeEditBtn{
    height: 30px;
    width: 24px;
    border-radius: 0px;
    margin:0px;
}
.opeEditBtn.leftB:after{
	content:'\2713'
}
.opeEditBtn.rightB:after{
	content:'\2717'
}
.opeEditBtn.leftB{
	border-left: 0px;
	border-right:0px;
}
.opeEditBtn.rightB{
/* 	border-top-right-radius:4px;
	border-bottom-right-radius:4px */
}
.tableInput{
	height: 28px;
}
.tableInput.opeInput{
	width: 100px;
    display: inline-block;
    height: 30px;
    font-size: 12px;
    padding: 0px 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
	vertical-align: bottom;
}

/* 澶氶�夋帶浠舵牱寮�*/
.multiSelect .line {
    padding:  2px 0px 4px 0px;
    max-height: 30px;   
    overflow: hidden;
    box-sizing: content-box;
}

/* ! create a "column" */
.multiSelect .acol {
    display: inline-block;    
    min-width: 12px;
}
.multiSelect .inlineBlock {
    display: inline-block;
}

/* the multiselect button */
.multiSelect > button {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    text-align: center;    
    cursor: pointer;
    border: 1px solid #c6c6c6;    
    padding: 1px 14px 1px 8px;   
    font-size: 14px;
    min-height : 34px !important;
/*     border-radius: 4px; */
    color: #555;   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
    background-color: #fff;    
}
.caret{
    position: absolute;
    right: 5px;
    top: 16px;
}
/* button: hover */
.multiSelect > button:hover {    
/*     background-image: linear-gradient(#fff, #e9e9e9);   */ 
    background-color: #ececec;
}

/* button: disabled */
.multiSelect > button:disabled {
    background-image: linear-gradient(#fff, #fff);      
    border: 1px solid #ddd;    
    color: #999;
}

/* button: clicked */
.multiSelect .buttonClicked {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* labels on the button */
.multiSelect .buttonLabel {
    display: inline-block;
    padding: 5px 0px 5px 0px; 
}

/* downward pointing arrow */
.multiSelect .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0px 0px 1px 12px  !important;    
    vertical-align: middle;
    border-top: 4px solid #333;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted; 
}

/* the main checkboxes and helper layer */
.multiSelect .checkboxLayer {
    background-color: #fff;
    position: absolute;
    z-index: 999;
    border: 1px solid rgba(0, 0, 0, 0.15);
/*     border-radius: 4px; */
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);    
    min-width:278px;
    display: none !important;    
}

/* container of helper elements */
.multiSelect .helperContainer {
    border-bottom: 1px solid #ddd;
    padding: 8px 8px 0px 8px;    
}

/* helper buttons (select all, none, reset); */
.multiSelect .helperButton {
    display: inline;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 26px;
    font-size: 13px;
/*     border-radius: 2px; */
    color: #666;    
    background-color: #f1f1f1;
    line-height: 1.6;
    margin: 0px 0px 8px 0px;
    padding: 0 3px;
}

.multiSelect .helperButton.reset{
    float: right;
}

.multiSelect .helperButton:not( .reset ) {
    margin-right: 4px;    
}

/* clear button */
.multiSelect .clearButton {
    position: absolute;
    display: inline;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 22px;
    width: 22px;
    font-size: 13px;
/*     border-radius: 2px; */
    color: #666;    
    background-color: #f1f1f1;
    line-height: 1.4;
    right : 2px;
    top: 4px;
}

/* filter */
.multiSelect .inputFilter {
/*     border-radius: 2px;  */
    border: 1px solid #ccc;
    height: 26px;
    font-size: 14px;
    width:100%;    
    padding-left:7px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    /* helper elements on hover & focus */
    color: #888;
    margin: 0px 0px 8px 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.multiSelect .clearButton:hover,
.multiSelect .helperButton:hover {
    border: 1px solid #ccc;
    color: #999;    
    background-color: #f4f4f4;    
}
.multiSelect .helperButton:disabled {
    color: #ccc;    
    border: 1px solid #ddd;
}

.multiSelect .clearButton:focus,
.multiSelect .helperButton:focus,
.multiSelect .inputFilter:focus {
    border: 1px solid #66AFE9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.065), 0 0 5px rgba(102, 175, 233, .6) !important;
            box-shadow: inset 0 0 1px rgba(0,0,0,.065), 0 0 5px rgba(102, 175, 233, .6) !important;
}
/* container of multi select items */
.multiSelect .checkBoxContainer {
    display: block;
    padding: 8px;
    overflow: auto;
    height: 300px;
}
.checkboxLayer.noShadow{
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
}
/* ! to show / hide the checkbox layer above */
.multiSelect .show {
    display: block !important;
}
.outChecked{
    position: absolute;
    right: 10px;
    display: block;
    overflow: auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
/*     border-radius: 4px; */
    min-width: 283px;
}
.outChecked .checkBoxContainer{
	display: block;
    padding: 8px;
    overflow: auto;
    height: 300px;
}
.outChecked .checkBoxContainer .multiSelectItem:hover:after{
	content:"\2717";
	position: absolute;
    right: 5px;
    top: 11px;
}
.checkBanner{
    background-color: #F5F6FA;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: #4e4e4e;
    font-size: 15px;
}
/* item labels */
.multiSelect .multiSelectItem {
    display: block;
    padding: 3px;
    color: #364b56;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-bottom: 1px solid #cccccc;
    position: relative;
    min-width:265px;
    min-height: 32px;
}

/* Styling on selected items */
.multiSelect .multiSelectItem:not(.multiSelectGroup).selected
{/* background-image: linear-gradient( #e9e9e9, #f1f1f1 ); */
background-color: #7294b1;
color:#ffe8d7;
cursor: pointer;border-bottom: 0px;
border-top: 1px solid #ffffff;
border-left: 1px solid #e4e4e4;border-right: 1px solid #d9d9d9;}

.multiSelect .multiSelectItem .acol label {
    display: inline-block;
    padding-right: 30px;    
    margin: 0px;
    font-weight: normal;    
    line-height: normal;
}

/* item labels focus on mouse hover */
.multiSelect .multiSelectItem:hover, 
.multiSelect .multiSelectGroup:hover {/* background-image: linear-gradient( #c1c1c1, #999 ) !important; */background-color: #8fa6bb;color: #ffffff !important;cursor: pointer;border: 1px solid #31708f !important;/* border-bottom: none !important; */}

/* item labels focus using keyboard */
.multiSelect .multiSelectFocus {  
    background-color: #c3c2c2;
    color: #fff !important;    
    cursor: pointer;        
    border: 1px solid #ccc !important;
}

/* change mouse pointer into the pointing finger */
.multiSelect .multiSelectItem span:hover, 
.multiSelect .multiSelectGroup span:hover
{    
    cursor: pointer;  
}

/* ! group labels */
.multiSelect .multiSelectGroup {    
    display: block;
    clear: both;
}

/* right-align the tick mark (&#10004;) */
.multiSelect .tickMark {
    display:inline-block; 
    position: absolute; 
    right: 10px; 
    top: 7px;
    font-size: 10px;          
}

/* hide the original HTML checkbox away */
.multiSelect .checkbox {    
    color: #ddd !important;    
    position: absolute;
    left: -9999px;
    cursor: pointer;    
}

/* checkboxes currently disabled */
.multiSelect .disabled, 
.multiSelect .disabled:hover,
.multiSelect .disabled label input:hover ~ span {
    color: #c4c4c4 !important;
    cursor: not-allowed !important;
}

/* If you use images in button / checkbox label, you might want to change the image style here. */
.multiSelect img {
    vertical-align: middle;
    margin-bottom:0px;
    max-height: 22px;
    max-width:22px;
}

.multiSelect .multiSelectItem .multiSelect-index{
	
}
.multiSelect .multiSelectItem:hover .multiSelect-index{
	
}
.multiSelect .multiSelectItem:not(.multiSelectGroup).selected .multiSelect-index{
	
}
.multiSelect .multiSelectItem .multiSelect-des{
	font-size:12px;
	color: #9a9a9a;
}
.multiSelect .multiSelectItem:hover .multiSelect-des{
	color:#d2d2d2 !important;
}
.multiSelect .multiSelectItem:not(.multiSelectGroup).selected .multiSelect-des{
	color: #c1c1b1;
}

/* 婊氬姩鏉℃牱寮� */
::-webkit-scrollbar  {
    width: 4px;
    height: 4px;
    background-color: rgb(255, 251, 251);
}
  
::-webkit-scrollbar-track  {  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(125, 125, 125, 0.3);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}  
  
::-webkit-scrollbar-thumb  {
    width: 5px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    background-color: #a9a1a1;
}  
.morph-dropdown-wrapper{
	background-color: white;
	position:absolute;
    padding: 5px 5px 0 5px;
	width: 200px;
    left: 150px;
    top: 52px;
    z-index: 1;
	border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s , top 0.3s;
}
.modal-role{
	width:420px
}
.modal-group{
    width: 350px;
}
.opeInEditing{
	width: 100%;
    height: 35px;
    background-color: rgba(74, 74, 82, 0.24);
    cursor: not-allowed;
    position: absolute;
    left:0px;
    top: 2px;
}
.col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
	padding-right: 0;
}
.panelA .scroll-tableBody{
	width:100%;
    max-height: 215px;
    overflow-y: auto;
}
.isEdited{
	background-color:#ffffdb;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 1px;
}

.newAutho{
    float: left;
    font-size: 14px;
    padding:5px;
    height: 100%;
    /*     border: 1px solid #b3c9e8; */
    box-sizing: border-box;
}
.newAutho-mid{
	border-left: 1px solid #b3c9e8;
    border-right: 1px solid #b3c9e8;
        overflow-y: auto;
}
.showNewAutho{
/* 	overflow:hidden; */
	background-color: #f1f7ff;
	border-bottom: 1px solid #b3c9e8;
	box-sizing: border-box;
/* 	height: 40px; */
	    height: 50px;
}
.showNewAutho.ng-enter{
	transition:0.4s ease all;
	height:0px;
}
.showNewAutho.ng-enter.ng-enter-active{
	height:42px;
}
.showNewAutho.ng-leave{
	transition:0.4s ease all;
	height:42px;
}
.showNewAutho.ng-leave.ng-leave-active{
	height:0px;
}

.panelA .collapse{
/* 	padding:2px 7px 0px 7px; */
}
.panelA .collapsing{
/* 	padding:2px 7px 0px 7px; */
}
.select_tool.select_ope{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 0px;
}

/* 瑙掕壊2鏉冮檺琛ㄦ牸鏍峰紡 */
.btn-rule {
	width: 180px;
/* 	width:100px; */
    color: #333;
        padding: 5px 4px;
    margin: 2px 3px;
    background-color: #fff;
    border-color:#fff;
	box-sizing: border-box;
}
.btn-rule.checked:before {
	content: "\f00c";
}
.btn-rule.checked {
	border:1px solid;
    border-color: #ccc;
}
.btn-rule:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-rule:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-rule[disabled]:focus, .btn-rule[disabled]:hover{
	background-color: #fff;
    border-color: #ccc;
}

.modal-content{
	/* border-radius:0px */
}
.btn{
	border-radius:0px
}
.form-control{
	border-radius:0px;
}
.popover{
	border-radius:0px
}
.popover-content{
	padding:4px 6px;
}
/* .test{
	position:absolute;
} */
.mainContent>div {
    height: 100%;
}

.leftMenu {
    width: 170px;
    background-color: #e9eef1;
    height: calc(100% - 70px);
    float: left;
}

.leftMenu>div {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #424e67;
    cursor: pointer;
}

.leftMenu>div.active {
    background-color: #dde2e5;
    color: #3b8cff;
}

.leftMenu>div i {
    width: 15px;
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.rightContent {
    width: calc(100% - 170px);
    height: calc( 100% - 50px);
    float: left;
    overflow-y: auto;
}
.modal-addusers{
    width:900px;
}
.form-group .departSelect{
    width:195px;
    height:150px;
    border:1px solid #1e90ff;
    position: absolute;
    left:85px;
    top:30px;
    background: white;
    z-index: 200;
    margin: 0;
}
.form-group .departSelect div{
    margin: 0;
}
.form-group .departSelect span{
    display: inline-block;
    width:100%;
    height:30px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.form-group .departSelect span:hover{
    background: #1e90ff;
}